<div class="">
    <div class="contentStart">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="schemForms">
                    <form class="simple-form" ng-submit="submitRequest()" >
                        <div class="row">
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h3><span class="color-theme"> Application Form</span></h3>
                                <hr />
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span>Title:</label>
                                <input type="text" class="form-control" ng-model="request.title" placeholder="Enter Title" required />
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label>Requested By:</label>
                                <select ng-model="request.requested" >
                                    <option value="">Select Type</option>
                                    <option value="Individual">Individual</option>
                                    <option value="Community">Community</option>
                                    <option value="Association">Association</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span>Association/Community ID:</label>
                                <input type="text" class="form-control" ng-model="request.association" placeholder="Enter Association/Community ID" required />
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span>Applicant Name:</label>
                                <input type="text" class="form-control" ng-model="request.personName" placeholder="Enter Applicant Name" required />
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label> <span class="color-red f-bold f-left">*</span>Applicant Email:</label>
                                <input type="text" class="form-control" ng-model="request.email" placeholder="Enter Applicant Email" disabled/>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span>Mobile Number</label>
                                <input type="text" class="form-control" ng-model="request.mobile" valid-number maxlength="10" placeholder="Enter Mobile Number" required />
                            </div>
                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span>Application Details:</label>
                                <textarea type="text" rows="5" class="form-control" ng-model="request.description" placeholder="Enter Application Details"></textarea>
                            </div>

                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label><span class="color-red f-bold f-left">*</span>Upload Documents: </label>
                                <br />
                                <button class="btn btn-success" ngf-select="uploadFiles($files)" multiple accept="image/jpeg, application/pdf">Upload Documents</button>
                                <div ng-show="uploadNitif">
                                    <h4>Uploaded Documents:</h4>
                                    <table class="table table-bordered table-striped">
                                        <tr ng-repeat="f in docList">
                                            <td>
                                                <a target="_blank" href="{{docUploadURL}}{{f.id}}" class="color-text1"><h5>{{f.name}}</h5></a>
                                            </td>
                                            <td>      <textarea rows="1" ng-model="f.comment" placeholder="Enter Comment"></textarea>
                                            </td>
                                            <td class="width20">
                                                <span class="glyphicon glyphicon-trash btn btn-danger" ng-click="deleteFile($index, f.id)"></span>
                                            </td>
                                        </tr>
                                    </table>
                                    <!--<table class="table" >
                                        <thead>
                                        <tr>
                                            <th>File Name</th>
                                            <th>Comment</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="f in docList">
                                            <td> <a target="_blank" href="{{uploadURL}}{{f.id}}">{{f.name}}</a></td>
                                            <td>
                                                <textarea rows="2" ng-model="f.comment" placeholder="Enter Comment"></textarea>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>-->
                                </div>
                                <div class="color-red" ng-show="errorMssg1">Please Wait.. Uploading the selected file.</div>
                                <span class="progress" ng-show="progress >= 0"></span>
                                <!--<div ng-bind="progress + '%'">

                                </div>-->
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button id="submit_btn" type="submit" ng-disabled="disable" class="btn btn-success">
                                    <span ng-show="!submit">Submit</span>
                                    <span ng-show="submit">Please Wait.. Submitting the Form</span></button>
                                <button type="button" ng-click="resetButton()" class="btn btn-success">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="successRequest" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <!--<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>-->
            <div class="modal-body">
                <div class="text-center">Successfully Submitted your Request</div>
                <button calss="btn btn-success" ng-click="applyNewRequest()">Apply New Request</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>-->
        </div>

    </div>
</div>