<!DOCTYPE html>
<html lang="en" ng-app="dhanbad">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Dhanbad Citizens Portal</title>
    <style>
        .goog-te-banner-frame.skiptranslate {
            display: none !important;
        }
        body {
            top: 0px !important;
        }
    </style>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/angular-datatables/dist/css/angular-datatables.css" rel="stylesheet"/>
    <link href="../bower_components/datatables/media/css/jquery.dataTables.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet">
    <link href="css/mediaQueries.css" rel="stylesheet">
    <link href="dist/ngcalendar.css" rel="stylesheet">
    <link rel="stylesheet" href="../bower_components/fullcalendar/dist/fullcalendar.css"/>

    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="../bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="js/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.6.1/angular-translate.js"></script>
    <script src="../bower_components/angular-datatables/dist/angular-datatables.min.js"></script>
    <script src="js/angular-resource.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/underscore.min.js"></script>
    <script src="js/angular-cookies.min.js"></script>
    <script src="js/angular-sanitize.min.js" data-semver="1.4.5"></script>
    <script src="../bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="../bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
    <script src="dist/ngcalendar.js"></script>
    <script src="js/app.js"></script>

    <script>
        $(document).on('click','.example-8 .navbar-collapse.in',function(e) {
            if( $(e.target).is('a') ) {
                $(this).collapse('hide');
            }
        });
    </script>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                includedLanguages: 'en,hi',
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE
            }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript"
            src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>


<div class="" id="sourceText" ng-controller="indexController">

    <header>
        <!--<h1>Hoa rae you?</h1>-->
        <div class="container">
            <div class="headerTop">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <!--<div class="color-fff">Welcome to 'Dhanbad' Citizen Portal</div>-->
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right">
                        <div class="pull-right" id="google_translate_element"></div>
                        <!--<div class="pull-right"><span class="color-fff">Choose Your Language  </span>-->
                        <!--<ul class="color-fff">-->
                        <!--<li ng-click="changeLanguage('en')">English</li>-->
                        <!--<li ng-click="changeLanguage('hi')">Hindi</li>-->
                        <!--</ul>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>

        <!--<div id="headerStarts" class="container">
            <nav class="navbar navbar-default" role="navigation">
                &lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <a class="navbar-brand nopadding" href="#/"><img src="images/DMC%20Logo.png"/></a>
                &lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;
                <div class="collapse navbar-collapse" id="navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="#/home"><h3 class="nopadding">
                            <span class="samarkan color-theme">dhanbad</span>
                            <span class="samarkan color-theme1"> citizen portal</span>
                        </h3></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="home"><a href="#/schemeManagement">Home</a></li>
                        &lt;!&ndash;<li><a href="#/project-WordWorks">createRequest</a></li>&ndash;&gt;
                        <li class="forms"><a href="#/formsDownload">Download Forms</a></li>
                        <li class="login" ng-show="loginStatus"><a href="#/login">Login</a></li>
                        <li class="loginUser" ng-show="!loginStatus">
                            <a class="dropdown-toggle text-capitalize" data-toggle="dropdown">{{userData.name}}<b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu multi-level">
                                <li><a href="#/appliedForms">Track Request</a></li>
                                <li><a href="#/userProfile">User Profile</a></li>
                                <li>
                                    <div class="divider"></div>
                                </li>
                                <li><a ng-click="logout()">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;
            </nav>
        </div>-->

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <nav class="navbar navbar-inverse navbar-static-top example-8 nopadding">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar8">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="#/" class="navbar-brand text-hide">Brand Text</a>
                        </div>
                        <div id="navbar8" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-left">
                                <li><a href="#/"><h3 class="nopadding">
                                    <span class="samarkan color-theme" lang="en">Dhanbad</span>
                                    <span class="samarkan color-theme1" lang="en"> citizen portal</span>
                                </h3></a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="home"><a href="#/schemeManagement" lang="en">Home</a></li>
                                <!--<li class="forms"><a href="#/formsDownload" lang="en">Download Forms</a></li>-->
                                <li class="login" ng-show="loginStatus"><a href="#/login" lang="en">Login</a></li>
                                <li class="loginUser dropdown" ng-show="!loginStatus">
                                    <a class="dropdown-toggle text-capitalize" data-toggle="dropdown" role="button" aria-expanded="false" lang="en">{{userData.name | limitTo: 10}}{{userData.name.length<10 ? "":"..."}}<b
                                            class="caret"></b></a>
                                    <ul id="dropdown-sub" class="dropdown-menu multi-level" role="menu">

                                        <li class="dropdown-submenu"> <a tabindex="-1">Track Requests</a>

                                            <ul class="dropdown-menu">
                                                <li><a href="#appliedForms">Project WardWorks</a></li>
                                                <li><a href="#assetRequestForms">Asset Requests</a></li>
                                            </ul>
                                        </li>

                                        <li><a href="#/userProfile" lang="en">User Profile</a></li>
                                        <li>
                                            <div class="divider"></div>
                                        </li>
                                        <li><a ng-click="logout()" lang="en">Logout</a></li>
                                    </ul>
                                </li>
                                <!--<li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li class="dropdown-header">Nav header</li>
                                        <li><a href="#">Separated link</a></li>
                                        <li><a href="#">One more separated link</a></li>
                                    </ul>
                                </li>-->
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                        <!--/.container-fluid -->
                    </nav>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="images/banner.jpg" class="img-responsive center-block"/>
                </div>
            </div>
        </div>

    </header>




    <section id="intro" class="intro-section">
        <div id="page-wrapper">
            <div class="container " ng-controller="indexController">
                <div class="contentStart">
                    <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <aside>
                            <div class="">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#/project-WordWorks"><span class="glyphicon glyphicon-chevron-right"></span> Project/Ward Works</a></li>
                                    <li><a href="#/landAndAssesment"><span class="glyphicon glyphicon-chevron-right"></span> Land & Asset Management</a></li>
                                    <li><a href="#/noc"><span class="glyphicon glyphicon-chevron-right"></span> NOC </a></li>
                                    <li><a href="#/formDownloads"><span class="glyphicon glyphicon-chevron-right"></span> Download Forms </a></li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div ng-view>

                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
</div>
</body>
</html>