<div class="">
    <div class="contentStart">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="schemeSuccess text-center">
                    <h1>
                        <span class="glyphicon glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    </h1>

                    <!--{{requestDetails}}-->

                    <h3> <b>" {{nocRequestDetails.personName}} "</b> </h3>
                    Application Id is:
                    <h2>{{nocRequestDetails.applicationId}}</h2>
                    Successfully Submitted Your Noc Request.
                   <hr />
                    <a href="#/printNOCRequest">Do you want to 'Print' the NOC Request</a>
                </div>
            </div>
        </div>
    </div>
</div>