<div class="">
    <div class="contentStart">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> User Profile</div>

                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-12"  >
                <div class="table-responsive" >
                    <div class="projectMain m-top20 m-btm20">
                        <div class="projectTile" >Personal Information</div>

                        <table class="table nopadding" >
                            <tbody>
                            <tr>

                                <th class="width120">Name</th>
                                <td class="width20">:</td>
                                <td>{{userInfo.name}}</td>
                                <td>
                                    <!--<button class="btn btn-primary" data-target="#editName" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span></button>-->
                                    <button class="btn btn-primary" ng-click="editName(userInfo)"><span class="glyphicon glyphicon-pencil"></span></button>
                                </td>
                            </tr>
                            <!--<tr>
                                <th class="width120">First Name</th>
                                <td>:</td>
                                <td>{{employeeData.firstName}}</td>
                                <td>
                                    &lt;!&ndash; <button class="btn btn-primary" data-target="#editName" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span></button>&ndash;&gt;
                                </td>
                            </tr>
                            <tr>
                                <th class="width120">Last Name</th>
                                <td>:</td>
                                <td>{{employeeData.lastName}}</td>
                                <td>
                                    &lt;!&ndash; <button class="btn btn-primary" data-target="#editName" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span></button>&ndash;&gt;
                                </td>
                            </tr>-->
                            <tr>
                                <th class="width120">Mobile Number</th>
                                <td>:</td>
                                <td>{{userInfo.phone}}</td>

                                <td>
                                    <!--<button class="btn btn-primary" data-target="#editPhone" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span></button>-->
                                    <button class="btn btn-primary" ng-click="editPhone(userInfo)"><span class="glyphicon glyphicon-pencil"></span></button>
                                </td>

                            </tr>

                            <!--
                            <tr>
                                <th>Work Number</th>
                                <td>:</td>
                                <td>{{employeeData.workNumber}}</td>
                                <td>
                                    <button class="btn btn-primary" data-target="#editPhone" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span></button>
                                </td>
                            </tr>-->
                            <tr>
                                <th>Email</th>
                                <td>:</td>
                                <td>{{userInfo.email}}</td>
                                <!--<td>
                                    <button class="btn btn-primary" data-target="#editPhone" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span></button>
                                </td>-->
                                <td>
                                    <!--<button class="btn btn-primary" data-target="#editEmail" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span></button>-->
                                    <button class="btn btn-primary" ng-click="editEmail(userInfo)"><span class="glyphicon glyphicon-pencil"></span></button>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="4">
                                    <button class="btn btn-primary" data-target="#changePassword" data-toggle="modal">Change Password</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">-->
                <!--<div class="table-responsive">-->
                    <!--<div class="projectMain m-top20 m-btm20 ">-->
                        <!--<div class="projectTile">Office Information</div>-->
                            <!--<table class="table nopadding">-->
                                <!--<tbody>-->
                                    <!--<tr>-->
                                        <!--<th class="width120">Employee Id</th>-->
                                        <!--<td class="width20">:</td>-->
                                        <!--<td>123456</td>-->
                                    <!--</tr> <tr>-->
                                        <!--<th class="width120">Designation</th>-->
                                        <!--<td class="width20">:</td>-->
                                        <!--<td>Designation</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<th class="width120">Department</th>-->
                                        <!--<td class="width20">:</td>-->
                                        <!--<td>Department</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<th class="width120">Employee Type</th>-->
                                        <!--<td class="width20">:</td>-->
                                        <!--<td>Employee Type</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<th class="width120">Status</th>-->
                                        <!--<td class="width20">:</td>-->
                                        <!--<td>Status</td>-->
                                    <!--</tr>-->
                                <!--</tbody>-->
                            <!--</table>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        </div>
    </div>
</div>

<div id="editName" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Name</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="editNameSubmit(editNameData.name, editNameData.id)">
                <div class="modal-body">
                    <div class="row schemForms">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Enter Name:</label>
                            <input placeholder="Enter Name" type="text" ng-model="editNameData.name">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="reset" class="btn btn-info">Reset</button>
                    <button id="cancel1" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="editEmail" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Email</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="editEmailSubmit()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Enter Email Number:</label>
                            <input placeholder="Enter Email Number" type="email" ng-model="editEmailData.email">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="reset" class="btn btn-info">Reset</button>
                    <button id="cancel2" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="editPhone" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Mobile Number</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="editPhoneSubmit()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Enter Mobile Number:</label>
                            <input placeholder="Enter Mobile Number" type="text" ng-model="editPhoneData.phone" minlength="10" maxlength="10">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="reset" class="btn btn-info">Reset</button>
                    <button id="cancel3" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="changePassword" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change Password</h4>
            </div>
            <form role="form" class="" name="myform" id="changePasswordForm" class="adminContent" ng-submit="changePasswordSubmit()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red">
                            {{passwordError1}}
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Current Password:</label>
                            <input type="password" id="password" ng-model="user.password" class="form-control b-radius10"  minlength="6" placeholder="Enter Your current Password" required/>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>New Password:</label>
                            <input type="password" class="form-control b-radius10" id="pswd" ng-model="user.newPassword" minlength="6" placeholder="New Password" required/>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Re-type New Password:</label>
                            <input type="password" class="form-control b-radius10" id="pswd1" ng-model="password"  minlength="6" placeholder="Confirm Password" required/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="reset" class="btn btn-info">Reset</button>
                    <button id="cancel" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="changePasswordSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
                <div class="modal-body textStyle1 color-green">
                   {{passwordError}}
                </div>
        </div>

    </div>
</div>
