<!-- <div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en"> Legal Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Master Data</span></li>
                <li class="breadcrumb-item active"><span lang="en">Acts</span></li>
            </ol>
        </div>
    </div>
</div> -->
<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class=" legalManagement">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 projectName" lang="en">
                            <span class="glyphicon glyphicon-hand-right"> </span> Acts
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme pull-right" ng-if="roleLogin.actsedit">
                            <button id="createAct" type="button" class="btn btn-success pull-right"
                                    ng-click="actClick()" lang="en">Create Act
                            </button>
                            <button class="btn btn-default pull-right m-right5" ng-click="exportToExcel('#acts')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                        </div>
                    </div>
                    <div class="clearfix visible-block"></div>
                    <hr />
                </div>
            </div>
        </div>

        <table id="acts" ng-show="hideDetails" class="table table-bordered table-striped"></table>

        <div class="table-responsive">
            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="actName" custom-sort order="'actName'" sort="sort" lang="en">Act Number&nbsp;</th>
                        <th class="description" custom-sort order="'description'" sort="sort"lang="en">Description&nbsp;</th>
                        <th class="actions" custom-sort order="'actions'" sort="sort" ng-if="roleLogin.actsedit" lang="en">Action&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="actInfo in actData track by $index ">
                        <td class="text-capitalize">{{actInfo.actNumber}}</td>
                        <td>{{actInfo.viewDetails}}</td>
                        <td ng-if="roleLogin.actsedit">
                            <button class="btn btn-primary"
                                    data-backdrop="static" data-keyboard="false" data-toggle="modal"
                                    data-target="#actEdit" ng-click="editActPopup(actInfo)"><span class="glyphicon glyphicon-pencil"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="createActModal" data-backdrop="static" data-keyboard="false" act="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" align="center">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Create Act</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class=" text-center color-red f-bold"></div>
                    <div class="text-center color-red f-bold" ng-show="actCreationError">{{createActError}}</div>
                    <form class="simple-form" ng-submit="createAct(act)">

                        <div class="form-group col-lg-6 col-md-6 col-sm-12 " align="left">
                        <!--<div class="form-group" align="left">-->
                            <label for="actName" lang="en"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Act Number</span>:</label>
                            <input type="actName" class="form-control"
                                   id="actName" ng-model="act.actNumber"
                                   placeholder="Enter Act Number"
                                   required
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off"/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 " align="left">
                        <!--<div class="form-group" align="left">-->
                            <label for="description" lang="en"><span
                                    class="color-red f-bold f-left"></span><span lang="en">Description</span>:</label>
                            <input type="description" class="form-control"
                                   id="description" ng-model="act.viewDetails"
                                   placeholder="Enter description"
                                   title="Enter The Description"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" />
                        </div>

                        <input id="saveAct" class="btn btn-success" type="submit" lang="en" value="Submit"/>
                        <button type="button" class="btn btn-info" ng-click="reset()" lang="en">Reset</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Edit-->
<div class="modal fade" id="actEdit" data-backdrop="static" data-keyboard="false" act="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" align="center">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" ng-click="cancelEdit()">&times;</button>

                <h4 class="modal-title" lang="en">Edit Act</h4>
            </div>
            <div class="modal-body">

                <div>
                    <div class=" text-center color-red f-bold"></div>
                    <div class="text-center color-red f-bold" ng-show="actUpdationError">{{updateActError}}</div>
                    <form class="simple-form" ng-submit="editAct()">

                        <div class="form-group col-lg-6 col-md-6 col-sm-12 " align="left">
                        <!--<div class="form-group" align="left">-->
                            <label for="actName" lang="en"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Act Number</span>:</label>
                            <input type="actName" class="form-control"
                                   id="actName1"
                                   ng-model="updateAct.actNumber"
                                   placeholder="Enter Act Number"
                                   title="Enter Act Number"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" required/>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 " align="left">
                        <!--<div class="form-group" align="left">-->
                            <label for="description" lang="en"><span
                                    class="color-red f-bold f-left"></span><span lang="en">Description</span>:</label>
                            <input type="description" class="form-control"
                                   id="description1"
                                   ng-model="updateAct.viewDetails"
                                   placeholder="Enter The Description"
                                   title="Enter Description"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" />
                        </div>

                        <input type="submit" class="btn btn-success" lang="en" value="Update"/>
                        <input type="button" class="btn btn-default" lang="en" value="Cancel"
                               ng-click="cancelEdit()"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="emptyDataTable" class="modal fade" data-backdrop="static" data-keyboard="false"  role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>