<!-- <div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item"><span lang="en">Legal Management</span></li>
                <li class="breadcrumb-item"><span lang="en">Case Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Advocate Payments</span></li>
            </ol>
        </div>
    </div>
</div> -->


<div class="adminContent" id="addDesignation">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="legalManagement">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Advocate Payments</div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 addScheme">
                            <a href="#/createPayments" class="btn btn-success pull-right " ng-if="roleLogin.advocatePaymentsedit" lang="en">Create Advocate Payments</a>
                            <a href="#/advocatePaymentDetails" class="btn btn-success pull-right m-right5" lang="en">Advocate Payments Details</a>
                            <button class="btn btn-default pull-right m-right5" ng-click="exportToExcel('#advocatePayment')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                        </div>
                    </div>
                    <div class="clearfix visible-block"></div>
                    <hr />
                </div>
            </div>
        </div>

        <table id="advocatePayment" ng-show="hideDetails" class="table table-bordered table-striped"></table>
            <div class="table-responsive">
                <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th class="caseNumber" custom-sort order="'caseNumber'" sort="sort" lang="en">Case Number&nbsp;</th>
                        <th class="advocateName" custom-sort order="'advocateName'" sort="sort" lang="en">Advocate Name&nbsp;</th>
                        <th class="amount" custom-sort order="'amount'" sort="sort" lang="en">Amount Paid&nbsp;</th>
                        <th class="mode" custom-sort order="'mode'" sort="sort" lang="en">Mode of Payment&nbsp;</th>
                        <th class="actions" custom-sort order="'actions'" sort="sort" ng-if="roleLogin.advocatePaymentsedit" lang="en">Action&nbsp;</th>

                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="paymentInfo in paymentGetData track by $index">

                            <td>{{paymentInfo.caseNumber}}</td>
                            <td><span class="spanComma" ng-repeat="case in paymentInfo.advocateList">{{case.name}}<span class="lastComma">,&nbsp;</span></span></td>
                            <!--<td>{{paymentInfo.advocateName}}</td>-->
                            <td>{{paymentInfo.amount | number:2}}</td>
                            <td>{{paymentInfo.mode}}</td>
                            <td ng-if="roleLogin.advocatePaymentsedit">
                                <button class="btn btn-primary"
                                        data-backdrop="static" data-keyboard="false" data-toggle="modal"
                                        data-target="#paymentEdit" ng-click="editPaymentPopup(paymentInfo)"><span class="glyphicon glyphicon-pencil"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

    </div>
</div>

<div class="modal fade" id="paymentEdit" payment="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" align="center">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" ng-click="cancelEdit()">&times;</button>
                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                    <h4 class="modal-title text-left" lang="en">Edit payment</h4>
                </div>
                <div class="modal-body">

                    <div>
                        <div class=" text-center color-red f-bold"></div>
                        <form class="simple-form"  ng-submit="editPayment()">


                            <div class="form-group  f-bold f-left" align="left">


                                <label lang="en"><span class="color-red f-bold f-left">*</span><span lang="en">Case Number</span>:</label><br>

                                <select class="form-control" ng-model="updatePayment.caseNumber" disabled required>
                                    <option value="">---select Case Number ---</option>
                                    <option ng-repeat="x in caseNumber" value="{{x.caseNumber}}">{{x.caseNumber}}</option>
                                </select>
                            </div>




                            <div class="form-group  f-bold f-left" align="left">

                                <label lang="en"><span class="color-red f-bold f-left" align="left" >*</span><span lang="en">Advocate</span>:</label><br>

                                <select  class="form-control" ng-model="updatePayment.advocateName"  required>
                                    <option value="">---select Advocate Name ---</option>
                                    <option ng-repeat="x in advocates" ng-selected="updatePayment.advocateName == x.advId"  value="{{x}}">{{x.name}}</option>
                                    <!--<option ng-repeat="x in advocates" value="{{x}}">{{x.name}}</option>-->
                                </select>
                            </div>

                            <div class="form-group  f-bold f-left" align="left">
                                <label lang="en"><span
                                        class="color-red f-bold f-left">*</span><span lang="en">Amount Paid</span>:</label>
                                <input type="amount" class="form-control"
                                       id="amount1"
                                       ng-model="updatePayment.amount"
                                       placeholder="Enter amount"
                                       title="Enter amount" required
                                       data-toggle="tooltip" data-placement="top" valid-number
                                       autocomplete="off"/>
                            </div>
                            <!--</div>-->
                            <input lang="en" type="submit" class="btn btn-success" value="Update"/>
                            <input lang="en" type="button" class="btn btn-default" value="Cancel"
                                   ng-click="cancelEdit()"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div id="addDepartmentSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" >
            <div ng-show="caseShow">
            <div class="modal-body textStyle1">

                <h4>Successfully  Payment for CaseNumber : '<b> {{selectedCaseNumber}}</b> ' -is Created.</h4>
            </div>
            <div class="modal-footer text-center">

                <button type="button" class=" btn btn-success text-center" data-dismiss="modal">OK</button>
            </div>
        </div>

        <div ng-show="caseHide">
            <div class="modal-body textStyle1" >
                <h4>Successfully  Payment for CaseNumber :'<b> {{selectCaseNumb}}</b> ' -is Updated.</h4>
            </div>
            <div class="modal-footer text-center">

                <button type="button" class=" btn btn-success text-center" data-dismiss="modal">OK</button>

            </div>

        </div>
    </div>
</div>
    </div>