<!-- <div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item"><span lang="en">Legal Management</span></li>
                <li class="breadcrumb-item"><span lang="en">Case Management</span></li>
                <li class="breadcrumb-item active"><a href="#/advocatePayment"><span lang="en">Advocate Payments</span></a></li>
                <li class="breadcrumb-item active"><span lang="en"> Advocate Payment Details </span></li>
                <!--<li class="breadcrumb-item active"><span lang="en">Advocate Payment Details</span></li>-->
            </ol>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
            <!--<a  ng-click="clickToBack()"> <span class="glyphicon glyphicon-hand-left"></span> Back</a>-->
            <a href="#/advocatePayment" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn" lang="en">Go Back</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div> -->

<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="legalManagement">
                    <div class="row">
                    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="projectName">
                                    <span class="glyphicon glyphicon-hand-right"> </span> <span lang="en">Advocate Payment Details</span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix visible-block"></div>
                        <hr />
                    </div>

                    <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-md-12 col-sm-12 col-xs-12">
                        <div>
                            <h5 class="text-left"><span lang="en">Select Advocate ID</span>:</h5>
                            <ui-select ng-change="selectareas($select.selected.advId)" ng-model="advId" theme="selectize">
                                <ui-select-match placeholder="Select or Search Case Number">{{$select.selected.name}}-{{$select.selected.advId}}</ui-select-match>
                                <ui-select-choices repeat="advName in advoatesList | filter: $select.search">
                                    <span ng-bind-html="advName.advId | highlight: $select.search"></span>

                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>


                    <!--<div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-md-12 col-sm-12 col-xs-12">-->
                        <!--<div class="schemForms text-center">-->
                            <!--<select ng-change="selectareas(name)" ng-model="name">-->
                                <!--<option value="">-&#45;&#45;select Advocate Name-&#45;&#45;</option>-->
                                <!--<option ng-repeat="advName in advoatesList" value="{{advName.name}}">{{advName.name}}</option>-->
                            <!--</select>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="" ng-show="selectAdvocateDetails">

                            <div class="projectMain  m-top20 m-btm20 ">
                                <div class="projectTile"><span lang="en">Advocate Payment Details</span></div>
                                <!--<div class="projectName m-top20 m-btm20 text-center">Plan Details</div>-->
                                <div class="table-responsive padding25px">
                                    <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table  table-bordered nopadding" >
                                    <thead>
                                        <tr>

                                            <th lang="en">Advocate Name</th>
                                            <th lang="en">Amount Paid</th>
                                            <th lang="en">Advocate Payment Mode</th>
                                            <th lang="en">Cheque Number</th>
                                            <th lang="en">Branch</th>
                                            <th lang="en">Payment Details</th>
                                            <th lang="en">Bank Name</th>
                                            <th lang="en">Case Number</th>
                                            <th lang="en">Created Person</th>
                                            <th lang="en">Last Edited Person</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="advocateData in selectAdvocateDetails">
                                            <!--<td class="width160"><b>AdvocateName</b></td>
                                            <td class="width20">:</td>-->
                                            <td><span class="spanComma" ng-repeat="case in advocateData.advocateList">{{case.name}}<span class="lastComma">,&nbsp;</span></span></td>

                                            <!--<td class="width160"><b>Amount Paid</b></td>
                                            <td>:</td>-->
                                            <td class="width160">{{advocateData.amount | number:2}}</td>
                                            <!--<td class="width160"><b>Advocate Payment Mode</b></td>
                                            <td>:</td>-->
                                            <td class="width160">{{advocateData.mode}}</td>
                                           <!-- <td class="width160"><b>Cheque Number</b></td>
                                            <td>:</td>-->
                                            <td class="width160">{{advocateData.checkNo}}</td>
                                            <!--<td class="width160"><b>Branch</b></td>
                                            <td>:</td>-->
                                            <td class="width160">{{advocateData.branch}}</td>
                                            <!--<td class="width160"><b>Payment Details</b></td>
                                            <td>:</td>-->
                                            <td class="width160">{{advocateData.description}}</td>
                                            <!--<td class="width160"><b>Bank Name</b></td>
                                            <td>:</td>-->
                                            <td class="width160">{{advocateData.bank}}</td>
                                            <!--<td class="width160"><b>Case Number</b></td>
                                            <td>:</td>-->
                                            <td class="width160">{{advocateData.caseNumber}}</td>
                                            <td class="width160">{{advocateData.createdPerson}}</td>
                                            <td class="width160">{{advocateData.lastEditPerson}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                </div>
            </div>
        </div>
    </div>

</div>
