<!-- <div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Use Administration</span></li>
                <li class="breadcrumb-item active"><span lang="en">App Config</span></li>
            </ol>
        </div>
    </div>
</div> -->
<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> App Config</div>
                    </div>
                    <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme">
                        <button class="btn btn-success pull-right" data-toggle="modal" data-target="#addEmail">Add Email </button>
                    </div>-->
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="projectMain">
                    <div class="projectTile" lang="en">App Config</div>
                    <div class=" projectInner">
                        <div class="schemForms">
                            <div class="row">
                                <div class="form-group col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <form ng-submit="editEmailTemp(email)">
                                <div class="row">
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <label lang="en">Current Financial Year:</label>
                                                <select ng-model="appConfig.financialYear" required>
                                                    <option value="----Financial Year----" disabled>Financial Year</option>
                                                    <option>2016-2017</option>
                                                    <option>2017-2018</option>
                                                    <option>2018-2019</option>
                                                    <option>2019-2020</option>
                                                    <option>2021-2022</option>
                                                    <option>2022-2023</option>
                                                    <option>2023-2024</option>
                                                    <option>2024-2025</option>
                                                    <option>2025-2026</option>
                                                    <option>2026-2027</option>
                                                </select>

                                                <!--<input ng-model="appConfig.financialYear" placeholder="Please Select Financial Year"  type="text" title="Please Select Financial Year" ng-calendar ng-model="myDate" format="%d-%m-%Y" required readonly>-->
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <label lang="en"></label>
                                                <div class="onoffswitch">
                                                    <input type="checkbox" ng-model="appConfig.currentFinancialYear" name="onoffswitch" class="onoffswitch-checkbox" id="currentFinancialYear" ng-click="clickFun()" >
                                                    <label class="onoffswitch-label" for="currentFinancialYear">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                    </label>
                                                </div>
                                                <!--{{appConfig.confirmed}}-->
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <label lang="en">NOC Amount:</label>
                                                <input ng-model="appConfig.nocAmountAction" valid-number placeholder="Please Enter NOC Amount" maxlength="20" type="text" title="Please Enter NOC Amount" valid-number />
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <label lang="en"></label>
                                                <div class="onoffswitch">
                                                    <input type="checkbox" ng-model="appConfig.nocAmount" name="onoffswitch" class="onoffswitch-checkbox" id="nocAmount" >
                                                    <label class="onoffswitch-label" for="nocAmount">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <label lang="en">Auto Escalation Days:</label>
                                                <input ng-model="appConfig.escalationDays" valid-number placeholder="Please Enter Auto Escalation Days"  maxlength="20" type="text" title="Please Enter Auto Escalation Days" valid-number  />
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <label lang="en"></label>
                                                <div class="onoffswitch">
                                                    <input type="checkbox" ng-model="appConfig.autoEscalation" name="onoffswitch" class="onoffswitch-checkbox" id="autoEscalation" >
                                                    <label class="onoffswitch-label" for="autoEscalation">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <label lang="en">Email:</label>
                                                <input ng-model="appConfig.emailText" placeholder="Please Enter Email ID" type="email" title="Please Enter Email ID"  />
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <label lang="en"></label>
                                                <div class="onoffswitch">
                                                    <input type="checkbox" ng-model="appConfig.emailTextData" name="onoffswitch" class="onoffswitch-checkbox" id="emailTextData" >
                                                    <label class="onoffswitch-label" for="emailTextData">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <label lang="en">Bill Information Template:</label>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <label lang="en"><span class="color-red f-bold f-left">*</span>Upload Reference Doc</label>
                                                    <button class="btn btn-success" ngf-select="uploadFiles($files)" multiple accept="*" lang="en">Reference Document</button>
                                                    <br>
                                                    <br>Files:
                                                    <ul>
                                                        <table class="table table-bordered table-striped">
                                                            <tr ng-repeat="f in docList">
                                                                <td>
                                                                    <a target="_blank" href="{{docUploadURL}}{{f._id}}" class="color-text1"><h5>{{f.filename}}</h5></a>
                                                                </td>
                                                                <td>
                                                                    {{f.comment}}
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </ul>
                                                    <span class="progress" ng-show="progress >= 0"></span>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <label lang="en">Measurement Book Information Template:</label>
                                                <!--<input ng-model="appConfig.emailText" placeholder="Please Enter Email ID" type="email" title="Please Enter Email ID"  />-->
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <label lang="en"><span class="color-red f-bold f-left">*</span>Upload Reference Doc</label>
                                                        <button class="btn btn-success" ngf-select="uploadFilesDoc($files)" multiple accept="*" lang="en">Reference Document</button>
                                                        <br>
                                                        <br>Files:
                                                        <ul>

                                                            <table class="table table-bordered table-striped">
                                                                <tr ng-repeat="f in docListData">
                                                                    <td>
                                                                        <a target="_blank" href="{{docUploadURL}}{{f._id}}" class="color-text1"><h5>{{f.filename}}</h5></a>
                                                                    </td>
                                                                    <td>
                                                                        {{f.comment}}
                                                                    </td>


                                                                </tr>
                                                            </table>
                                                        </ul>
                                                        <span class="progress" ng-show="progress >= 0"></span>
                                                        <!--<div ng-bind="progress + '%'">

                                                        </div>-->
                                                    </div>
                                                </div>
                                                <!--<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <label lang="en"><span class="color-red f-bold f-left">*</span>Upload Notification</label>
                                                    <button class="btn btn-success" ngf-select="uploadFiles($files)" multiple accept="*" lang="en">Upload Gov Notification</button>

                                                    <br>
                                                    <br>Files:
                                                    <ul>
                                                    <table class="table table-bordered table-striped">
                                                        <tr ng-repeat="f in editId.file">
                                                            <td>
                                                                <a target="_blank" href="{{docUploadURL}}{{f._id}}" class="color-text1"><h5>{{f.filename}}</h5></a>
                                                            </td>
                                                            <td>
                                                                {{f.comment}}
                                                            </td>


                                                        </tr>
                                                    </table>
                                                    </ul>
                                                    <span class="progress" ng-show="progress >= 0"></span>
                                                    &lt;!&ndash;<div ng-bind="progress + '%'">

                                                    </div>&ndash;&gt;
                                                </div>-->
                                            </div>
                                        </div>
                                    </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="registerSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully Updated EMAIL DETAILS.</div>
            </div>
        </div>

    </div>
</div>