<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item"><span lang="en">Legal Management</span></li>
                <li class="breadcrumb-item"><span lang="en">Case Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Create Case</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent" id="addDesignation">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Create Case</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme">
                        <a href="#/createCase" class="btn btn-success pull-right  " ng-if="roleLogin.createCaseedit" lang="en">Create Case</a>
                        <a href="#/caseHistory" class="btn btn-info pull-right m-right5" ng-if="roleLogin.createCaseview" lang="en">Case Details</a>
                        <button class="btn btn-default pull-right m-right5" ng-click="exportToExcel('#case')" lang="en">
                            <span class="glyphicon glyphicon-share"></span> Export to Excel
                        </button>

                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>
            <table id="case" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th lang="en">Case Number</th>
                            <th lang="en">Case Type</th>
                            <th lang="en">Advocate Name </th>
                            <th lang="en">Status</th>
                            <th lang="en">Priority</th>
                            <th lang="en">Act Number</th>
                            <th lang="en">Case Created Date</th>
                            <th ng-if="roleLogin.createCaseedit" lang="en">Action</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="caseInfo in CaseData track by $index ">
                            <td>{{caseInfo.caseNumber}}</td>
                            <td>{{caseInfo.caseType}}</td>
                            <td><span class="spanComma" ng-repeat="case in caseInfo.advocateList track by $index">{{case.name}}<span class="lastComma">,&nbsp;</span></span></td>
                            <td>{{caseInfo.status}}</td>
                            <td>{{caseInfo.priority}}</td>
                            <td>{{caseInfo.act}}</td>
                            <td>{{caseInfo.createdTime | date: "dd-MM-yyyy"}}</td>

                            <!--<td>{{caseInfo.stakeHolder}}</td>-->
                            <!--<td>Robbery</td>-->
                            <!--<td>Afzal</td>-->
                            <!--<td>Pending</td>-->
                            <!--<td>High</td>-->
                            <!--<td>ACT786</td>-->
                            <!--<td><a href="#/viewPlanDetails" class="btn btn-primary">View More</a></td>-->
                            <td ng-if="roleLogin.createCaseedit">
                                <a class="btn btn-primary" href="#/editCase/{{case.id}}" ng-click="getEditCase(caseInfo)"><span class="glyphicon glyphicon-pencil"></span></a>
                                <!--<button class="btn btn-danger" ng-click="deleteCharter()"><span class="glyphicon glyphicon-trash"></span></button>-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
           </div>


        </div>
    </div>

</div>



<div id="addDepartmentSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" >
            <div ng-show="caseShow">
                <div class="modal-body textStyle1">

                <h4>Successfully  Case With Case Number : '<b> {{selectedCaseNumber}}</b> ' -is Created.</h4>
            </div>
            <div class="modal-footer text-center">

                <button type="button" class=" btn btn-success text-center" data-dismiss="modal">OK</button>
            </div>
        </div>

            <div ng-show="caseHide">
            <div class="modal-body textStyle1">
            <h4>Successfully  Case With Case Number : '<b> {{selectedCaseNumb}}</b> ' -is Updated.</h4>
        </div>
                <div class="modal-footer text-center">
            <button type="button" class=" btn btn-success text-center" data-dismiss="modal">OK</button>

        </div>

    </div>

</div>
</div>
</div>

