<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Land and  Asset Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Create Asset Failure/Maintenance</span></li>
            </ol> -->
        </div>
        <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
            <a href="#/projectPlan" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn">Go Back</span>
                    </div>
                </div>
            </a>
        </div>-->
    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> <span lang="en">Asset Failure/Maintenance</span></div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                            <!--<button class="btn btn-default m-right5">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>-->
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#assetFailure')">
                                <span class="glyphicon glyphicon-share"></span> <span lang="en">Export to Excel</span>
                            </button>
                            <button class="btn btn-success" data-toggle="modal" data-target="#createProjectMilestone" lang="en" ng-click="failureResetData()">Create Asset Failure/Maintenance</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-md-12 col-sm-12 col-xs-12">
                <div class="schemForms text-center">
                    <!--<select ng-change="getAssetTypes(id)" ng-model="id">
                        <option value="">-&#45;&#45;Please select-&#45;&#45;</option>
                        <option ng-repeat="assetType in assetTypeList" value="{{assetType.id}}">{{assetType.assetNumber}} - <b class="pull-right">{{assetType.assetName}}</b></option>
                    </select>-->

                    <ui-select ng-change="getAssetTypes($select.selected.id)" ng-model="id" theme="selectize">
                        <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.assetNumber}}</ui-select-match>
                        <ui-select-choices repeat="assetType in assetTypeList | filter: $select.search">
                            <span ng-bind-html="assetType.assetNumber | highlight: $select.search"></span>
                            <small ng-bind-html="assetType.assetName | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>

                </div>
                <!--<div>
                    <ui-select ng-change="selectareas($select.selected.projectId)" ng-model="projectId" theme="selectize">
                        <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.projectId}}</ui-select-match>
                        <ui-select-choices repeat="proId in charterList | filter: $select.search">
                            <span ng-bind-html="proId.projectId | highlight: $select.search"></span>
                            <small ng-bind-html="proId.name | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>-->
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="selectProjectDetails">

                    <table id="assetFailure" ng-show="hideDetails" class="table table-bordered table-striped"></table>

                    <div class="projectMain m-top20 m-btm20 ">
                        <div class="projectTile"><span lang="en">Asset Failure/Maintenance Details</span></div>
                        <!--<div class="projectName m-top20 m-btm20 text-center">Field Visitor Details</div>-->
                        <div class="table-responsive projectInner">
                            <table datatable="ng" class="hover table table-bordered table-striped" id="projectMilestone">
                                <thead>
                                <tr >
                                    <th lang="en">Failure Classes</th>
                                    <th lang="en">Date Occurance</th>
                                    <th lang="en">Problems</th>
                                    <th lang="en">Causes</th>
                                    <th lang="en">Remidies</th>
                                    <th lang="en">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="failureData in getAssetTypesData" >
                                    <!--<td>{{paymentMilestone.tentativeDate}}</td>-->
                                    <td class="text-capitalize">{{failureData.failureClasses.name}}</td>
                                    <td class="text-capitalize">{{failureData.expectedDate}}</td>
                                    <td class="text-capitalize">{{failureData.problems}}</td>
                                    <td class="text-capitalize">{{failureData.causes}}</td>
                                    <td class="text-capitalize">{{failureData.remidies}}</td>
                                    <td class="width150">
                                        <button class="btn btn-primary" data-toggle="modal" ng-click="failureDetails(failureData)"><span class="glyphicon glyphicon-pencil"></span></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>

<div id="createProjectMilestone" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Create Asset Failure/Maintenance</h4>
            </div>
            <div class="text-center color-red f-bold" ng-show="riskError">{{error}}</div>
            <form role="form" class="" name="myform"  ng-submit="assetFailureData()">
                <div class="modal-body">
                    <div class="schemForms row">
                        <!--<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Failure Classes:</label>
                            &lt;!&ndash;<input ng-model="getAssetFailureData.failureClasses" placeholder="Project Milestone Name" type="text" required/>&ndash;&gt;
                            <select ng-model="getAssetFailureData.failureClasses" data-style="btn-primary" required>
                                <option value=""disabled>Select Faiure Classes</option>
                                <option ng-repeat="failure in failureClassList" value="{{failure.name}}">{{failure.name}}</option>
                            </select>
                        </div>-->

                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Failure Classes</span>:</label>
                            <ui-select ng-model="getAssetFailureData.failureClasses" theme="selectize">
                                <ui-select-match placeholder="Select or Search Failure Classes">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="failure in failureClassList | filter: $select.search">
                                    <span ng-bind-html="failure.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Date Occurance</span>:</label>
                            <input  placeholder="Date Occurance" type="text" ng-calendar ng-model="getAssetFailureData.expectedDate" format="%d-%m-%Y" readonly>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Problems</span>:</label>
                            <textarea rows="3" ng-model="getAssetFailureData.problems" placeholder="Enter Description" required></textarea>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Causes</span>:</label>
                            <textarea rows="3" ng-model="getAssetFailureData.causes" placeholder="Enter Description" required></textarea>
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Remidies</span> :</label>
                            <textarea rows="3" ng-model="getAssetFailureData.remidies" placeholder="Enter Comment" required></textarea>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="Submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="submit" ng-click="failureResetData();" class="btn btn-danger" lang="en" >Reset</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="editProjectMilestone" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Asset Failure/Maintenance</h4>
            </div>
            <form role="form" class="" name="myform"  ng-submit="editFailureDetails()">
                <div class="modal-body">
                    <div class="schemForms row">

                        <!--<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Failure Classes:</label>
                            &lt;!&ndash;<input ng-model="editFailureData.milestoneName" placeholder="Project Milestone Name" type="text" required/>&ndash;&gt;
                            <select ng-model="editFailureData.failureClasses" data-style="btn-primary" required>
                                <option value="">Select Faiure Classes</option>
                                <option ng-repeat="failure in failureClassList" value="{{failure.name}}">{{failure.name}}</option>
                            </select>
                        </div>-->

                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Failure Classes</span>:</label>
                            <ui-select ng-model="editFailureData.failureClasses" theme="selectize" ng-disabled="true">
                                <ui-select-match placeholder="Select or Search Failure Classes"><strong>{{$select.selected.name}}</strong></ui-select-match>
                                <ui-select-choices repeat="failure in failureClassList | filter: $select.search">
                                    <span ng-bind-html="failure.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>


                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Date Occurance</span>:</label>
                            <input placeholder="Date Occurance" type="text" ng-calendar ng-model="editFailureData.expectedDate" format="%d-%m-%Y" readonly>
                        </div>

                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Problems</span>:</label>
                            <textarea rows="5" ng-model="editFailureData.problems" placeholder="Enter Problems" required></textarea>
                        </div>




                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Causes</span>:</label>

                            <textarea rows="5" ng-model="editFailureData.causes" placeholder="Enter Causes" required></textarea>
                        </div>

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Remidies</span>:</label>
                            <textarea rows="5" ng-model="editFailureData.remidies" placeholder="Enter Remidies" required></textarea>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="Submit" class="btn btn-success" lang="en">Update</button>
                    <!--<button type="reset" class="btn btn-info" lang="en">Reset</button>-->
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>

            </form>
        </div>

    </div>
</div>



<div id="addFailureSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully -' <b>{{getAssetFailureData.failureClasses.name}}</b> '  is Created.</div>
            </div>
        </div>

    </div>
</div>

<div id="editFailureSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully -' <b>{{editFailureData.failureClasses.name}}</b> '  is Updated.</div>
            </div>
        </div>

    </div>
</div>