<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en"> User Administration</span></li>
                <li class="breadcrumb-item active"><span lang="en">Workflow Setup</span></li>
                <li class="breadcrumb-item active"><span lang="en">Create Levels</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Workflow Level List</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme">
                        <button class="btn btn-success pull-right" ng-click="addWorkFlowLevelModal()" lang="en">Add Workflow Level</button>
                        <button class="btn btn-default m-right5 pull-right" ng-click="exportToExcel('#workflowLevelExcel')" lang="en">
                            <span class="glyphicon glyphicon-share"></span> Export to Excel
                        </button>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="workflowLevelExcel" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped" id="table1">
                        <thead>
                        <tr >
                           <th lang="en">Workflow Id</th>
                           <th lang="en">Level NO</th>
                           <th lang="en">Level Id</th>
                           <th lang="en">Level or Role Description</th>
                           <th lang="en">Comment</th>
                           <th lang="en">Status</th>
                           <th lang="en">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="workflowLevel in workflowLevelList">
                            <td>{{workflowLevel.workflowId}}</td>
                            <td>{{workflowLevel.levelNo}}</td>
                            <td>{{workflowLevel.levelId}}</td>
                            <td>{{workflowLevel.roleDescription}}</td>
                            <td>{{workflowLevel.commnet}}</td>
                            <td>{{workflowLevel.status}}</td>
                            <td>
                                    <button class="btn btn-primary" ng-click="editWorkflowLevelModal(workflowLevel)"><span class="glyphicon glyphicon-pencil"></span></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="addWorkFlowLevel" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Add Workflow Level</h4>
            </div>
            <div class="text-center color-red f-bold" ng-show="levelCreationError">{{createLevelError}}</div>
            <form role="form" name="myform" ng-submit="addWorkflowLevels()">
                <div class="row schemForms">
                    <div class="modal-body">
                        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                           <label lang="en" lang="en"> <span class="color-red f-bold f-left">*</span>Workflow Id</label>
                            <select ng-change="levelCount(workflowLevel.workflowId)"  ng-model="workflowLevel.workflowId" data-style="btn-primary" required>
                                <option value="">Select Workflow</option>
                                <option ng-repeat="workflow in workflowList"  value="{{workflow.workflowId}}">{{workflow.workflowId}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                           <label lang="en"><span class="color-red f-bold f-left">*</span>Level No:</label>
                            <select ng-model="workflowLevel.levelNo" required>
                                <option value="">Select Level NO</option>
                                <option ng-repeat="level in levelList" value="{{level.no}}">{{level.no}}</option>
                            </select>
                            <!--<input type="text" placeholder="Enter level No" class="form-control" ng-model=" workflowLevel.name" required />-->
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                           <label lang="en"><span class="color-red f-bold f-left">*</span>Status:</label>
                            <select ng-model="workflowLevel.status" required>
                                <option value="">Select Status</option>
                                <option value="Active">Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                           <label lang="en"><span class="color-red f-bold f-left">*</span>Level Id:</label>
                            <input type="text" placeholder="Enter Level id" class="form-control" ng-model=" workflowLevel.levelId" required />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                           <label lang="en"><span class="color-red f-bold f-left">*</span>Level or Role Description:</label>
                            <input type="text" placeholder="Enter Role Description" class="form-control" ng-model=" workflowLevel.roleDescription" required />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                           <label lang="en"><span class="color-red f-bold f-left"></span>Comment:</label>
                            <textarea type="text" rows="3"  placeholder="Purpose and role of people in the group" class="form-control ng-pristine ng-valid ng-touched" ng-model="workflowLevel.commnet"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="editWorkflowLevel" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Workflow Level</h4>
            </div>
            <form role="form" name="myform" ng-submit="editWorkflowLevelButton()">
                <div class="row schemForms">
                    <div class="modal-body">
                        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                           <label lang="en"> <span class="color-red f-bold f-left">*</span>Workflow Id</label>
                            <select ng-change="levelCount(editWorkflowLevel.workflowId)"  ng-model="editWorkflowLevel.workflowId" data-style="btn-primary" ng-disabled="editWorkflowLevel.workflowId">
                                <option value="">Select Workflow</option>
                                <option ng-repeat="workflow in workflowList"  ng-selected="editWorkflowLevel.workflowId== workflow.workflowId" value="{{workflow.workflowId}}">{{workflow.workflowId}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                           <label lang="en"><span class="color-red f-bold f-left">*</span>Level No:</label>
                            <select ng-model="editWorkflowLevel.levelNo"   data-style="btn-primary" ng-disabled="editWorkflowLevel.levelNo">
                                <option value="">Select Level</option>
                                <option ng-repeat="level in levelList"   ng-selected="editWorkflowLevel.levelNo== level.no" value="{{level.no}}">{{level.no}}</option>
                            </select>
                            <!--<input type="text" placeholder="Enter level No" class="form-control" ng-model=" workflowLevel.name" required />-->
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-xs-12">
                           <label lang="en"><span class="color-red f-bold f-left">*</span>Status:</label>
                            <select ng-model="editWorkflowLevel.status" data-style="btn-primary" data-placement="Select Plan ID">
                                <option value="" selected>Select Status</option>
                                <option value="Active" selected>Active</option>
                                <option value="In Active">In Active</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                           <label lang="en"><span class="color-red f-bold f-left">*</span>Level Id:</label>
                            <input type="text" placeholder="Enter Level id" class="form-control" ng-model=" editWorkflowLevel.levelId"  ng-disabled="editWorkflowLevel.levelId" required />
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                           <label lang="en"><span class="color-red f-bold f-left">*</span>Level or Role Description:</label>
                            <input type="text" placeholder="Enter Role Description" class="form-control" ng-model=" editWorkflowLevel.roleDescription" required />
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                           <label lang="en">Comment:</label>
                            <textarea type="text" rows="3"  placeholder="Purpose and role of people in the group" class="form-control ng-pristine ng-valid ng-touched" ng-model="editWorkflowLevel.commnet"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<div id="addWorkFlowLevelSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess color-green">
                <div class="sMessage">Successfully -' WorkFlow ID - <b>{{workflowLevel.workflowId}}</b> <br />
                    Level Id - <b>{{workflowLevel.levelId}}</b>'  is Created.</div>
            </div>
        </div>
    </div>
</div>

<div id="editWorkFlowLevelSuccess" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess color-green">
                <div class="sMessage">Successfully Workflow Level is Updated.</div>
            </div>
        </div>
    </div>
</div>

<div id="emptyDataTable" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>