<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/schemes">Home</a></li>
                <li class="breadcrumb-item"><a href="#/requests" >Request</a></li>
                <li class="breadcrumb-item active">Change Request Status</li>
            </ol>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
            <!--<a  ng-click="clickToBack()"> <span class="glyphicon glyphicon-hand-left"></span> Back</a>-->
            <a href="#/requests" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn">Go Back</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="adminContent" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="viewRequest">

                <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> View Request Status</div>
                <!--<div class="projectName cursorPointer"> <a href="#/requests"> <span class="glyphicon glyphicon-hand-left"></span> Back</a> </div>-->

                <hr />
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <th class="text-left width160">Name</th>
                            <td class="text-left">{{requestLists.name}}</td>
                        </tr>
                        <tr>
                            <th class="text-left width160">Email ID</th>
                            <td class="text-left">{{requestLists.email}}</td>
                        </tr>
                        <tr>
                            <th class="text-left width160">Mobile Number</th>
                            <td class="text-left">{{requestLists.mobileNumber}}</td>
                        </tr>
                        <tr>
                            <th class="text-left width160">Scheme Name</th>
                            <td class="text-left">{{requestLists.schemeName}}</td>
                        </tr>
                        <tr>
                            <th class="text-left width160">Request Status</th>
                            <td class="text-left">{{requestLists.requestStatus}}</td>
                        </tr>
                        <tr>
                            <th class="text-left width160">Accept Status</th>
                            <td class="text-left">{{requestLists.acceptStatus}}</td>
                        </tr>
                        <tr>
                            <th class="text-left width160">Uploaded Files</th>
                            <td class="text-left">

                                <div><a href="">file1</a></div>

                                <!--<div>file1</div>

                                <div>file2</div>
                                <div>file3</div>-->
                                <div ng-repeat="request in requestLists.files">
                                    <a target="_blank" href="{{uploadFile}}{{request.id}}">{{request.name}}</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

                <div class="schemForms">
                    <div class="form-group">
                        <label>Comment:</label>
                        <textarea rows="5" ng-model="requestLists.comment" placeholder="Enter Comment" required>{{requestLists.comment}}</textarea>
                    </div>
                </div>

                <button class="btn btn-success " ng-click="acceptStatus(requestLists)">Approval</button>
                <button class="btn btn-info " ng-click="rejectStatus(requestLists)">Reject</button>
                <a class="btn btn-default"  href="#/requests"> Cancel</a>

         <!--   <button class="btn btn-lg" ng-click="clickBack()">Cancel</button>-->
                <!--<button class="btn btn-success btn-lg">Submit</button>-->
            </div>
        </div>
    </div>
</div>