<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en"> Project/Ward Works </span></li>
                <li class="breadcrumb-item active"> <span lang="en">Application Requests </span> </li>
                <li class="breadcrumb-item active"><span lang="en">Field Reports</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Application Reports</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                            <button class="btn btn-default m-right5" lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#projectMilestone')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                            <button class="btn btn-success" data-toggle="modal" data-target="#createAppReport" lang="en">Add Visit Report </button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-md-12 col-sm-12 col-xs-12">
                <div class="schemForms text-center">
                    <select ng-change="selectAppId(applicationId)" ng-model="applicationId">
                        <option value="">---Please select---</option>
                        <option ng-repeat="prequest in projectRequests" value="{{prequest.applicationId}}">{{prequest.applicationId}} - <b class="pull-right">{{prequest.title}}</b></option>
                    </select>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="showAction">

                    <div class="projectMain m-top20 m-btm20 ">
                        <div class="projectTile cursorPointer" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">Application Details</div>
                        <!--<div class="projectName m-top20 m-btm20 text-center">Plan Details</div>-->

                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <tbody>
                                <tr>
                                    <td class="text-left width160"><b>Application Id</b></td>
                                    <td class="width20">:</td>
                                    <td class="text-left" colspan="4">{{selectRequestDetails.applicationId}}</td>
                                </tr>
                                <tr>
                                    <td class="text-left width160"><b>Issue Name/ Title</b></td>
                                    <td class="width20">:</td>
                                    <td class="text-left" colspan="4">{{selectRequestDetails.title}}</td>
                                </tr>
                                <tr>
                                    <td class="text-left width160"><b>Requested By</b></td>
                                    <td class="width20">:</td>
                                    <td class="text-left">{{selectRequestDetails.requested}}</td>
                                    <td class="text-left width160"><b>Association/Community ID</b></td>
                                    <td class="width20">:</td>
                                    <td class="text-left">{{selectRequestDetails.association}}</td>
                                </tr>
                                <tr>
                                    <td class="text-left width160"><b>Applicant name </b></td>
                                    <td class="width20">:</td>
                                    <td class="text-left">{{selectRequestDetails.personName}}</td>
                                    <td class="text-left width160"><b>Email ID</b></td>
                                    <td class="width20">:</td>
                                    <td class="text-left">{{selectRequestDetails.email}}</td>
                                </tr>

                                <tr>
                                    <td class="text-left width160"><b>Mobile Number</b></td>
                                    <td class="width20">:</td>
                                    <td class="text-left">{{selectRequestDetails.mobile}}</td>
                                    <td class="text-left width160"><b>Created Time</b></td>
                                    <td class="width20">:</td>
                                    <td class="text-left">{{selectRequestDetails.createdTime | date: "yyyy-MM-dd hh:mm:ss a"}}</td>
                                </tr>
                                <tr>
                                    <td class="text-left width160"><b>Application Details</b></td>
                                    <td class="width20">:</td>
                                    <td class="text-left" colspan="4">{{selectRequestDetails.description}}</td>
                                </tr>
                                <tr>
                                    <td class="text-left width160"><b>Uploaded Files</b></td>
                                    <td class="width20">:</td>
                                    <td class="text-left" colspan="4">
                                        <div ng-repeat="request in selectRequestDetails.file">
                                            <a target="_blank" href="{{docUploadURL}}{{request.id}}">{{request.name}}</a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="projectMain m-top20 m-btm20 ">
                        <div class="projectTile" lang="en">Application Visit Details</div>
                        <div class="table-responsive projectInner">
                            <table datatable="ng" class="hover table table-bordered table-striped" id="">
                                <thead>
                                <tr>
                                    <th lang="en">Visitor Name</th>
                                    <th lang="en">Date Visited</th>
                                    <th lang="en">Comment</th>
                                    <th lang="en">Action</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr ng-repeat="fieldVisit in appReportDisplay">
                                    <td>{{fieldVisit.createdPerson}}</td>
                                    <td>{{fieldVisit.visitedDate}}</td>
                                    <td>{{fieldVisit.comment}}</td>
                                    <td>
                                        <button class="btn btn-primary" ng-click="editFieldVisitors(fieldVisit)"><span class="glyphicon glyphicon-pencil"></span></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>


<div id="createAppReport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Create Application Visit Report</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="createAppReport()">
                <div class="modal-body">
                    <div class="row schemForms">

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en" lang="en"><span class="color-red f-bold f-left">*</span>Date Visit:</label>
                            <input  placeholder="Date Visit"  type="text" ng-calendar ng-model="appVisitData.visitedDate" format="%d-%m-%Y" readonly>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Visitor Comment</label>
                            <textarea rows="5" ng-model="appVisitData.comment" placeholder="Enter Visitor Description" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Submit</button>
                    <button type="button" class="btn btn-info" lang="en">Reset</button>
                    <button id="" type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="editAppReport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Create Application Visit Report</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="editAppReport()">
                <div class="modal-body">
                    <div class="row schemForms">

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Date Visit:</label>
                            <input  placeholder="Date Visit"  type="text" ng-calendar ng-model="editReportData.visitedDate" format="%d-%m-%Y" readonly>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Visitor Comment</label>
                            <textarea rows="5" ng-model="editReportData.comment" placeholder="Enter Visitor Description" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                    <button type="button" class="btn btn-info" lang="en">Reset</button>
                    <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>