<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Field Visit Report</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent">
    <div class="">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Field Visit Report</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                            <button class="btn btn-default m-right5" lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#fieldVisitExcel')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                            <button class="btn btn-success" id="scroll" ng-click="createFieldVisitReport()" lang="en">Add Field visitor Report</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <table id="fieldVisitExcel" ng-show="hideDetails" class="table table-bordered table-striped"></table>

            <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-md-12 col-sm-12 col-xs-12">
               <div>
                   <h5 class="text-center" lang="en">Select OR Search Projects Details</h5>
                    <ui-select ng-change="selectareas($select.selected.planId)" reset-search-input="true" ng-model="projectId" theme="selectize">
                        <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.planId}}</ui-select-match>
                        <ui-select-choices repeat="proId in charterList | filter: $select.search">
                            <span ng-bind-html="proId.projectId | highlight: $select.search"></span>
                            <small ng-bind-html="proId.name | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
               </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="selectProjectDetails">
                        <div class="projectMain m-top20 m-btm20 table-responsive">
                            <div class="projectTile" lang="en">Plan Details</div>
                        <!--<div class="projectName m-top20 m-btm20 text-center">Plan Details</div>-->
                        <table class="table table-bordered nopadding">
                            <tr>
                                <td class="width160"><b lang="en">Plan ID</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.planId}}</td>
                                <td><b lang="en">Plan Name</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.name}}</td>
                            </tr>

                            <tr>
                                <td><b lang="en">Financial Year</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.financialYear}}</td>
                                <td><b lang="en">Applicant ID</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.applicantId}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Start Date</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.startDate}}</td>
                                <td><b lang="en">End Date</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.endDate}}</td>
                            </tr>
                            <!--   {applicantId":"1ddsfsdf","startDate":"24-08-2016","endDate":"10-09-2016","estimationCost":"123213","utilizedCost":"123","status":"new","completePercentage":"0","createdPerson":"admin"}
                            -->   <tr>
                            <td><b lang="en">Estimation Cost</b></td>
                            <td>:</td>
                            <td class="width20">{{selectProjectDetails.estimationCost}}</td>
                            <td><b lang="en">Utilized Cost</b></td>
                            <td class="width20">:</td>
                            <td>{{selectProjectDetails.utilizedCost}}</td>
                        </tr>
                            <tr>
                                <td><b lang="en">Task Status</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.taskStatus}}</td>
                                <td><b lang="en">Plan Status</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.palnStatus}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en"><span>%</span> Complete</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.completePercentage}}</td>
                                <td><b lang="en">Department</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.department}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Plan Description</b></td>
                                <td class="width20">:</td>
                                <td colspan="4">{{selectProjectDetails.description}}</td>
                            </tr>

                        </table>
                    </div>
                    <div class="projectMain m-top20 m-btm20 ">
                        <div class="projectTile" lang="en">Field Visitor Details</div>
                        <div class="table-responsive projectInner">
                            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped" id="">
                                <thead>
                                    <tr>
                                        <th lang="en">Visitor Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                          <!--     {{filedVisitList}}-->

                     <tr ng-repeat="fieldVisit in filedVisitList" >
                                 <td colspan="4">
                                     <table class="table nopadding">
                                         <tr>
                                             <td class="width120"><b lang="en">Visitor Name</b>: <br />{{fieldVisit.visitorName}}</td>
                                             <td class="width120"><b lang="en">Date Visited</b>: <br />{{fieldVisit.visitedDate}}</td>

                                             <td><b lang="en">Comment</b>: <br />{{fieldVisit.comment}}</td>
                                             <td class="width20">
                                                 <button class="btn btn-primary" ng-if="fieldVisit.editDetails" data-toggle="tooltip" title="Edit Details" ng-click="editFieldVisitors(fieldVisit)"><span class="glyphicon glyphicon-pencil"></span></button>
                                             </td>
                                             <td class="width20">
                                                 <button type="button" data-toggle="tooltip" title="View Bill Details" ng-click="fieldDetailsModel(fieldVisit)"class="btn btn-primary" >
                                                     <span class="glyphicon glyphicon-th-large"></span>
                                                 </button>
                                             </td>
                                             <td class="width20" data-toggle="tooltip" title="View Workflow Details"  >
                                                 <button class="btn btn-default" data-toggle="collapse" data-target="#demo-{{$index}}" class="accordion-toggle">
                                                     <span class="glyphicon glyphicon-eye-open"></span></button>
                                             </td>
                                             <td class="width20">
                                                 <!--data-toggle="modal" data-target="#approavlReport"-->
                                                 <!--data-toggle="modal" data-target="#rejectReport"-->
                                                 <button type="button" data-toggle="tooltip" title="Approve"  ng-if="fieldVisit.approveFiledVisit" ng-click="approvalModal(fieldVisit)" class="btn btn-success" >
                                                     <span class="glyphicon glyphicon-ok"  ></span>
                                                 </button>
                                              </td>
                                             <td class="width20">
                                               <button type="button" ng-if="fieldVisit.approveFiledVisit" data-toggle="tooltip" title="Reject" ng-click="rejectModal(fieldVisit)"class="btn btn-danger" >
                                                   <span class="glyphicon glyphicon-remove"></span>
                                               </button>
                                             </td>
                                         </tr>
                                         <tr>
                                             <td colspan="12" class="hiddenRow">
                                                 <div class="accordian-body collapse" id="demo-{{$index}}">
                                                     <table class="table">
                                                         <thead>
                                                         <tr>
                                                             <th lang="en">Workflow Id</th>
                                                             <th lang="en">Workflow Level</th>
                                                             <th lang="en">Level No</th>
                                                             <th lang="en">Status</th>
                                                             <th lang="en">Approval Person</th>
                                                             <th lang="en">Date</th>
                                                             <th lang="en">Comment</th>
                                                         </tr>
                                                         </thead>
                                                         <tbody>
                                                         <tr ng-repeat="workflow in fieldVisit.workflow">
                                                             <td>{{workflow.workflowId}} </td>
                                                             <td>{{workflow.levelId}}  </td>
                                                             <td>{{workflow.levelNo}}  </td>
                                                             <td>{{workflow.approvalStatus}}  </td>
                                                             <td>{{workflow.employeeName}}  </td>
                                                             <td>{{workflow.date| date: "yyyy-MM-dd hh:mm:ss a"}}  </td>
                                                            <!-- <td>
                                                                 &lt;!&ndash;  <button>Approval</button>
                                                               <button>Reject</button>&ndash;&gt;
                                                                 <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#approavlReport">Approval</button>
                                                                 <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rejectReport">Reject</button>
                                                             </td>-->
                                                             <td>{{workflow.comment}}</td>
                                                         </tr>
                                                         </tbody>
                                                     </table>
                                                 </div>
                                             </td>
                                         </tr>
                                     </table>
                                 </td>
                             </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!--- fieldVisistReportEdit --->
<div id="fieldVisitReportEdit" class="modal fade" role="dialog">
    <div class="modal-dialog ">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Edit Field Visit Report</h4>
            </div>
            <form role="form" class="" name="myform"  ng-submit="fieldVisitReportEdit()">

            <div class="modal-body">
                <div class="schemForms">
                    <div class="row">
                        <!--<div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <label><span class="color-red f-bold f-left">*</span>Visitor Name:</label>
                            &lt;!&ndash;<select ng-model="editFiledVisitDetails.level">
                                <option value="">Select Level</option>
                                <option value="Level - 1">Level - 1</option>
                                <option value="Level - 2">Level - 2</option>
                                <option value="Level - 3">Level - 3</option>
                                <option value="Level - 4">Level - 4</option>
                            </select>&ndash;&gt;
                            <select ng-model="editFiledVisitDetails.level" data-style="btn-primary" required>
                                <option value="">Select Employee Name</option>
                                <option ng-repeat="employee in getEmployeeList2" ng-selected="editFieldVisit.level" value="{{editFieldVisit.level}}">{{editFieldVisit.level}}</option>
                            </select>

                        </div>-->

                        <div class="form-group col-lg-12 col-md-12 col-md-12 col-sm-12 col-xs-12">
                            <div>
                                <h5 class="text-left" lang="en">Select OR Search Projects Sub Task Details <span ng-show="!subTaskName" class="color-red"> - {{editFieldVisit.subTaskName}}</span></h5>
                                <ui-select ng-change="selectSubTask($select.selected.subTaskName)" ng-model="projectId" theme="selectize">
                                    <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.subTaskName}}</ui-select-match>
                                    <ui-select-choices repeat="proId in subTaskList | filter: $select.search">
                                        <span ng-bind-html="proId.subTaskName | highlight: $select.search"></span>
                                        <!-- <small ng-bind-html="proId.subTaskName | highlight: $select.search"></small>-->
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-md-12 col-sm-12 col-xs-12">
                            <div>
                                <h5 class="text-left" lang="en">Select Measurement ID <span ng-show="!subTaskName" class="color-red"> - {{editFieldVisit.measurementID}}</span></h5></h5>
                                <!--<ui-select ng-change="selectMeasurement($select.selected.measurementId)" ng-model="projectId" theme="selectize">
                                    <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.measurementId}}</ui-select-match>
                                    <ui-select-choices repeat="proId in MeasurementDetails | filter: $select.search">
                                        <span ng-bind-html="proId.measurementId | highlight: $select.search"></span>
                                        &lt;!&ndash; <small ng-bind-html="proId.subTaskName | highlight: $select.search"></small>&ndash;&gt;
                                    </ui-select-choices>
                                </ui-select>-->
                                <select ng-model="editFieldVisit.measurementID" data-style="btn-primary" required>
                                    <option value="">Select MeasurementID</option>
                                    <option ng-repeat="meDetails in measurementDetails" ng-selected="editFieldVisit.measurementID == meDetails.measurementId" value="{{meDetails.measurementId}}">{{meDetails.measurementId}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Date Visited</label>:
                            <input ng-model="editFieldVisit.visitedDate" placeholder="Date Visit"  type="text"   ng-calendar format="%d-%m-%Y" readonly>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Visitor Comment</label>:
                            <textarea rows="5" ng-model="editFieldVisit.comment" placeholder="Enter Visitor Description"  draggable="false" required></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="submit" class="btn btn-success" lang="en">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Close</button>
            </div>
            </form>
        </div>

    </div>
</div>
<!--- fieldVisistReportEdit --->




<div id="createFieldVisitReport" class="modal fade" role="dialog">
    <div class="modal-dialog ">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Create Field Visit Report</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="addFieldVisitReport()">
            <div class="modal-body">
                <div class="row schemForms">
                    <!--<div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <label><span class="color-red f-bold f-left">*</span>Visitor Name:</label>
                        &lt;!&ndash;<select ng-model="fieldVisitData.level">
                            <option value="">Select Level</option>
                            <option value="Level - 1">Level - 1</option>
                            <option value="Level - 2">Level - 2</option>
                            <option value="Level - 3">Level - 3</option>
                            <option value="Level - 4">Level - 4</option>
                        </select>&ndash;&gt;
                        <select ng-model="fieldVisitData.level" data-style="btn-primary">
                            <option value="">Select Employee Name</option>
                            <option ng-repeat="employee in getEmployeeList2" value="{{employee.name}}">{{employee.name}}</option>
                        </select>
                    </div>-->

                    <div class="form-group col-lg-12 col-md-12 col-md-12 col-sm-12 col-xs-12">
                        <div>
                            <h5 class="text-left" lang="en">Select OR Search Projects Sub Task Details</h5>
                            <ui-select ng-change="selectSubTask($select.selected.subTaskName)" ng-model="projectId" theme="selectize">
                                <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.subTaskName}}</ui-select-match>
                                <ui-select-choices repeat="proId in subTaskList | filter: $select.search">
                                    <span ng-bind-html="proId.subTaskName | highlight: $select.search"></span>
                                    <!-- <small ng-bind-html="proId.subTaskName | highlight: $select.search"></small>-->
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-md-12 col-sm-12 col-xs-12" ng-show="mesID">
                        <div>
                            <!--<h5 class="text-left" lang="en">Select OR Search Measurement Details</h5>{{measurementId}}-->
                            <!--<ui-select ng-change="selectMeasurement($select.selected.measurementId)" ng-model="measurementId" theme="selectize">
                                <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.measurementId}}</ui-select-match>
                                <ui-select-choices repeat="meDetails in measurementDetails | filter: $select.search">
                                    <span ng-bind-html="meDetails.measurementId | highlight: $select.search"></span>
                                    &lt;!&ndash; <small ng-bind-html="proId.subTaskName | highlight: $select.search"></small>&ndash;&gt;
                                </ui-select-choices>
                            </ui-select>-->
                            <h5 class="text-left" lang="en">Select Measurement ID</h5>
                            <select ng-model="fieldVisitData.measurementID" data-style="btn-primary" required>
                                <option value="">Select MeasurementID</option>
                                <option ng-repeat="meDetails in measurementDetails" value="{{meDetails.measurementId}}">{{meDetails.measurementId}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Date Visited</label>:
                        <input  placeholder="Date Visit"  type="text" ng-calendar ng-model="fieldVisitData.visitedDate" format="%d-%m-%Y" readonly required/>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Visitor Comment</label>:
                        <textarea rows="5" ng-model="fieldVisitData.comment" placeholder="Enter Visitor Description"  draggable="false" required></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" lang="en">Submit</button>
                <!--<button type="button" ng-click="reset()" class="btn btn-info" lang="rn">Reset</button>-->
                <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
            </div>
            </form>
        </div>
    </div>
</div>


<div id="approavlReport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Approve Field Visit Report</h4>
            </div>

            <form role="form" class="" name="myform" class="adminContent" ng-submit="approvalData()">
            <div class="modal-body">
                <div class="row schemForms">
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Comment</label>
                        <textarea rows="5" ng-model="comments.comment" placeholder="Enter Approval Comment" required></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" lang="en">Approve</button>
                <button  type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
            </div>
            </form>
        </div>
    </div>
</div>
<div id="rejectReport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Reject FieldVisit Report</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="rejectData()">
            <div class="modal-body">
                <div class="row schemForms">

                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label lang="en"><span class="color-red f-bold f-left">*</span>Reject Comment</label>
                        <textarea rows="5" ng-model="comments.comment" placeholder="Enter Reject Description" required></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" lang="en">Reject</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
            </div>
            </form>
        </div>
    </div>
</div>


<!--<div id="approavlReportStatus" class="modal fade" role="dialog" >-->
    <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <!--<h4 class="modal-title" lang="en">Approval Status</h4>-->
            <!--</div>-->
            <!--<div class="modal-body color-green text-center modalSuccess">-->
                <!--<table class="table table-bordered nopadding">-->
                    <!--<tbody>-->
                        <!--<tr>-->
                            <!--<td  class="width120"><b lang="en">Accept Level</b></td>-->
                            <!--<td class="width20">:</td>-->
                            <!--<td>{{new.acceptLevel}}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td class="width120"><b lang="en">Accept Status</b></td>-->
                            <!--<td class="width20">:</td>-->
                            <!--<td>{{new.acceptStatus}}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td class="width120"><b lang="en">Request Status</b></td>-->
                            <!--<td class="width20">:</td>-->
                            <!--<td>{{new.requestStatus}}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td class="width120"><b lang="en">Comment</b></td>-->
                            <!--<td class="width20">:</td>-->
                            <!--<td>{{new.comment}}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td class="width120"><b lang="en">Request Id</b></td>-->
                            <!--<td class="width20">:</td>-->
                            <!--<td>{{new.requestId}}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td class="width120"><b lang="en">Employee Id</b></td>-->
                            <!--<td class="width20">:</td>-->
                            <!--<td>{{new.employeeId}}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td class="width120"><b lang="en">Employee Name</b></td>-->
                            <!--<td class="width20">:</td>-->
                            <!--<td>{{new.employeeName}}</td>-->
                        <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<div id="editFieldVisitReportSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage"> Field visit report added successfully</div>
            </div>
        </div>
        <!--<div class="modal-footer">
            <button ng-click="editPlanSuccess()" class="btn btn-success width120">OK</button>
        </div>-->
    </div>
</div>
<div id="errorMessageDisplay" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body color-green text-center modalSuccess">
                <div class="sMessage">Successfully Plan TOR is Updated.</div>
            </div>
        </div>
    </div>
</div>

<div id="viewFieldsDetails" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">View Field Visit Details</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped nopadding">
                        <tbody>
                        <tr>
                            <td class="width120"><b lang="en">Plan Id</b></td>
                            <td class="width20">:</td>
                            <td>{{fieldDetails.planId}}</td>
                        </tr>
                        <tr>
                            <td class="width120"><b lang="en">SubTask Name</b></td>
                            <td class="width20">:</td>
                            <td>{{fieldDetails.subTaskName}}</td>
                        </tr>
                        <tr>
                            <td class="width120"><b lang="en">Measurement Id</b></td>
                            <td class="width20">:</td>
                            <td>{{fieldDetails.measurementID}}</td>
                        </tr>
                        <tr>
                            <td class="width120"><b lang="en">Visited Date</b></td>
                            <td class="width20">:</td>
                            <td>{{fieldDetails.visitedDate}}</td>
                        </tr>
                        <tr>
                            <td class="width120"><b lang="en">Comment</b></td>
                            <td class="width20">:</td>
                            <td>{{fieldDetails.comment}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer text-center">
                <!--<button type="button" class="btn btn-success" lang="en">Ok</button>-->
                <button type="button" class="btn btn-success" ng-click="editFieldVisitData(fieldDetails)" lang="en">Edit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Ok</button>
            </div>
        </div>
    </div>
</div>