<div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#taskDetails">
        <a class="panel-title">
                                        <span >
                                           Judgement Details
                                        </span>
        </a>
    </div>
    <div id="taskDetails" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-repeat="judgementHistory in selectJudgementHistory track by $index">


                    <div class=" m-top20 m-btm20 ">
                        <div class="projectTile">Judgement Details</div>

                        <table class="table table-bordered nopadding">
                            <tr>
                                <td class="width160"><b>Case Number</b></td>
                                <td class="width20">:</td>
                                <td>{{judgementHistory.caseNumber}}</td>

                                <td class="width160"><b>Status</b></td>
                                <td class="width20">:</td>
                                <td>{{judgementHistory.status}}</td>
                            </tr>

                            <tr>
                                <td class="width160"><b>Court</b></td>
                                <td class="width20">:</td>
                                <td>{{judgementHistory.court}}</td>

                                <td class="width160"><b>Judgement Date</b></td>
                                <td class="width20">:</td>
                                <td>{{judgementHistory.judgementDate}}</td>

                            </tr>

                            <tr>
                                <td><b>Judgement Details</b></td>
                                <td>:</td>
                                <td colspan="4">{{judgementHistory.judgementDetails}}</td>
                            </tr>

                        </table>

                        <div class="clearfix visible-lg-block"></div>



                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-repeat="judgements in selectJudgements track by $index">


                    <div class=" m-top20 m-btm20 ">
                        <div class="projectTile">Judgement Details</div>

                        <table class="table table-bordered nopadding">
                            <tr>
                                <td class="width160"><b>Case Number</b></td>
                                <td class="width20">:</td>
                                <td>{{judgements.caseNumber}}</td>

                                <td class="width160"><b>Status</b></td>
                                <td class="width20">:</td>
                                <td>{{judgements.status}}</td>
                            </tr>

                            <tr>
                                <td class="width160"><b>Court</b></td>
                                <td class="width20">:</td>
                                <td>{{judgements.court}}</td>

                                <td class="width160"><b>Judgement Date</b></td>
                                <td class="width20">:</td>
                                <td>{{judgements.judgementDate}}</td>

                            </tr>

                            <tr>
                                <td><b>Judgement Details</b></td>
                                <td>:</td>
                                <td colspan="4">{{judgements.judgementDetails}}</td>
                            </tr>

                        </table>

                        <div class="clearfix visible-lg-block"></div>



                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

