<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item"><span lang="en">Legal Management</span></li>
                <li class="breadcrumb-item"><span lang="en">Case Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Hearing Date Info</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent ">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="legalManagement">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 projectName" lang="en">
                            <span class="glyphicon glyphicon-hand-right"> </span> Hearing Date Info</div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme" ng-if="roleLogin.hearingDateInfoedit">
                            <!--<button id="createHearingDate" type="button" class="btn btn-success pull-right"-->
                                    <!--ng-click="hearingDateClick()">Create-->
                            <!--</button>-->
                            <a href="#/createHearingDate" class="btn btn-success pull-right" ng-click="hearingDateClick()"><span lang="en">Create Hearing Date</span></a>
                            <!--<a href="#/hearingDetails" class="btn btn-info pull-right m-right5"><span lang="en">Hearing Date Details</span></a>-->
                            <button class="btn btn-default pull-right m-right5" ng-click="exportToExcel('#hearingDate')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>

                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 projectName">
                        <hr />
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <table id="hearingDate" ng-show="hideDetails" class="table table-bordered table-striped"></table>
        <div class="table-responsive">
            <table datatable="ng" class="table table-bordered table-striped">

                <thead>
                <tr>
                    <th class="caseNumber" custom-sort order="'caseNumber'" sort="sort" lang="en">Case Number&nbsp;</th>
                    <th class="advocateName" custom-sort order="'advocateName'" sort="sort" lang="en">Advocate Name&nbsp;</th>
                    <th class="date" custom-sort order="'date'" sort="sort" lang="en">Hearing Date&nbsp;</th>
                    <th class="status" custom-sort order="'status'" sort="sort" lang="en">Status&nbsp;</th>
                    <th class="actions" custom-sort order="'actions'" sort="sort" ng-if="roleLogin.hearingDateInfoedit" lang="en">Action&nbsp;</th>

                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="hearingInfo in hearingData track by $index">

                    <td>{{hearingInfo.caseNumber}}</td>
                    <!--<td>{{hearingInfo.advocateName}}</td>-->
                    <td><span class="spanComma" ng-repeat="case in hearingInfo.advocateList">{{case.name}}<span class="lastComma">,&nbsp;</span></span></td>
                    <!--<td>{{hearingInfo.editDate | date: "dd-MM-yyyy"}}</td>-->
                    <td>{{hearingInfo.dateHearing}}</td>
                    <td>{{hearingInfo.status}}</td>

                    <td ng-if="roleLogin.hearingDateInfoedit">
                        <button class="btn btn-primary"
                                data-backdrop="static" data-keyboard="false" data-toggle="modal"
                                data-target="#hearingEdit" ng-click="edithearingPopup(hearingInfo)"><span class="glyphicon glyphicon-pencil"></span></button>
                    </td>

                    <!--<td ng-if="roleLogin.hearingDateInfoedit">-->
                    <!--<a class="btn btn-primary" href="#/editHearingDate/{{hearing.id}}" ng-click="getEditHearing(hearingInfo)"><span class="glyphicon glyphicon-pencil"></span></a>-->
                    <!--&lt;!&ndash;<button class="btn btn-danger" ng-click="deleteCharter()"><span class="glyphicon glyphicon-trash"></span></button>&ndash;&gt;-->
                    <!--</td>-->

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="" id="addDesignation">
<div class="modal fade" id="createHearingDateModal" hearing="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" align="center">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Create Hearing date</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class=" text-center color-red f-bold"></div>
                    <form class="simple-form" ng-submit="createHearingDate(hearing)">

                        <div class="" align="left">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Case Number</span>:</label><br>
                            <select class="form-control" ng-model="hearing.caseNumber" required>
                                <option value=""> ---Select Case Number --- </option>
                                <option ng-repeat="x in caseNumber" value="{{x.caseNumber}}">{{x.caseNumber}}</option>
                            </select>
                        </div>
<br/>

                        <div class="" align="left">
                            <label> <span class="color-red f-bold f-left">*</span><span lang="en">Hearing Date</span></label>
                            <input ng-model="hearing.dateHearing" placeholder="Please Select date" type="text" ng-calendar format="%m-%d-%Y" required readonly>
                            <!--<input type="text" class="form-control" ng-model="hearing.dateHearing" placeholder="Enter Start Date" ng-calendar  />-->
                        </div>

                        <div class="" align="left">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Advocate</span>:</label><br>
                            <select multiple class="form-control" ng-model="hearing.advocateName" required>
                                <option value="">---Select Advocate Name ---</option>
                                <option ng-repeat="x in advocates" ng-selected="hearing.advocateName" value="{{x}}">{{x.name}}</option>
                            </select>
                        </div>

                        <div class="" align="left">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Status</span>:</label><br>
                            <select class="form-control" ng-model="hearing.status" required>
                                <option value="">---Select Case Status ---</option>
                                <option ng-repeat="x in status" value="{{x.field1}}">{{x.field1}}</option>
                            </select>
                        </div>


                        <div class="" align="left">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Comment</span>:</label>
                            <textarea type="text" rows="5" class="form-control ng-pristine ng-valid ng-touched" ng-model="hearing.comment" required></textarea>
                        </div>



                        <input id="saveHearing" class="btn btn-success" lang="en" type="submit" value="Save"/>
                        <button type="button" class="btn btn-info" ng-click="reset()" lang="en">Reset</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Edit-->
<div class="modal fade" id="hearingEdit" hearing="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" align="center">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" ng-click="cancelEdit()">&times;</button>
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <h4 class="modal-title text-left" lang="en">Edit Hearing Date</h4>
            </div>
            <div class="modal-body">
                <div class="schemForms">
                    <div class=" text-center color-red f-bold"></div>
                    <form class="simple-form row" ng-submit="editHearingDate()">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Case Number</span>:</label><br>
                            <select class="" ng-model="updateHearingDate.caseNumber" disabled required >
                                <option value="">---Select Case Number ---</option>
                                <option ng-repeat="x in caseNumber" value="{{x.caseNumber}}">{{x.caseNumber}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Advocate</span>:</label><br>
                            <select multiple class="" ng-model="updateHearingDate.advocateName" required>
                                <!--<option ng-repeat="x in advocates" ng-selected="updateHearingDate.advocateName==x.name" value="{{x}}">{{x.name}}</option>-->
                                <option ng-repeat="x in advocates"  value="{{x}}">{{x.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">
                            <label><span class="color-red f-bold f-left">*</span><span lang="en">Status</span>:</label><br>
                            <select class="" ng-model="updateHearingDate.status" required>
                                <option value="">---Select Case Status ---</option>
                                <option ng-repeat="x in status" value="{{x.field1}}">{{x.field1}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12" align="left">
                            <label> <span class="color-red f-bold f-left">*</span><span lang="en">Hearing Date</span>:</label>
                            <input ng-model="updateHearingDate.dateHearing" class="form-control" placeholder="Select Hearing date" type="text" ng-calendar format="%d-%m-%Y" required readonly>
                            <!--<input type="text" class="form-control" ng-model="" placeholder="Enter Start Date" format="%d/%m/%Y" />-->
                        </div>
                        <!--</div>-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-success"lang="en" value="Update">Update</button>
                            <button type="button" class="btn btn-default" lang="en" value="Cancel" ng-click="cancelEdit()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</div>

<div id="addDepartmentSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" >
            <div ng-show="caseShow">
                <div class="modal-body textStyle1">

                <h4>Successfully  Hearing Date For Case Number : '<b> {{selectedCaseNumber}}</b> ' -is Created.</h4>
            </div>
                <div class="modal-footer text-center">

                    <button type="button" class=" btn btn-success text-center" data-dismiss="modal" lang="en">OK</button>
            </div>
        </div>

            <div ng-show="caseHide">
                <div class="modal-body textStyle1" >
                <h4>Successfully  Hearing Date For Case Number : '<b> {{selectCaseNumb}}</b> ' -is Updated.</h4>
            </div>
                <div class="modal-footer text-center">
                <button type="button" class=" btn btn-success text-center" data-dismiss="modal" lang="en">OK</button>

            </div>

        </div>

    </div>
</div>
    </div>
