<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Legal Management</span></li>
                <li class="breadcrumb-item active"><span lang="en"> Master Data</span></li>
                <li class="breadcrumb-item active"><span lang="en">List Of Holidays</span></li>
            </ol>
        </div>
    </div>
</div>



<div class="adminContent">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class=" legalManagement">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 projectName" lang="en">
                            <span class="glyphicon glyphicon-hand-right"> </span> List Of Holidays
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme pull-right" ng-if="roleLogin.holidaysedit">
                            <button id="createAct" type="button" class="btn btn-success pull-right"
                                    ng-click="holidaysClick()" lang="en">Create Holiday
                            </button>
                            <button class="btn btn-default pull-right m-right5" ng-click="exportToExcel('#holidays')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                        </div>
                    </div>
                    <div class="clearfix visible-block"></div>
                    <hr />
                </div>
            </div>
        </div>

        <table id="holidays" ng-show="hideDetails" class="table table-bordered table-striped"></table>

        <div class="table-responsive">
            <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="festival" custom-sort order="'festival'" sort="sort" lang="en">Festival Name&nbsp;</th>
                        <th class="description" custom-sort order="'description'" sort="sort" lang="en">Festival Description&nbsp;</th>
                        <th class="festivaldate" custom-sort order="'festivalDate'" sort="sort" lang="en">Festival Date&nbsp;</th>
                        <th class="actions" custom-sort order="'actions'" sort="sort" ng-if="roleLogin.holidaysedit"><span lang="en"> Action&nbsp;</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="holidayInfo in holidaysData track by $index">
                        <td>{{holidayInfo.festival}}</td>
                        <td>{{holidayInfo.description}}</td>
                        <td>{{holidayInfo.festivalDate}}</td>
                        <td ng-if="roleLogin.holidaysedit">
                            <button class="btn btn-primary"
                                    data-backdrop="static" data-keyboard="false" data-toggle="modal"
                                    data-target="#holidayEdit" ng-click="editHolidayPopup(holidayInfo)"> <span class="glyphicon glyphicon-pencil"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>




<div class="modal fade" id="CreateHolidayModel" data-backdrop="static" data-keyboard="false" case="dialog" >
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" align="center">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-left" lang="en">Create Holiday</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class=" text-center color-red f-bold"></div>
                    <div class="text-center color-red f-bold" ng-show="holidayCreationError">{{createHolidayError}}</div>
                    <form class="simple-form" ng-submit="createHoliday(holiday)">


                        <div class="form-group" align="left">
                            <label for="festival" lang="en"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Festival Name</span>:</label>
                            <input type="text" class="form-control"
                                   id="festival" ng-model="holiday.festival"
                                   placeholder="Enter Festival Name"  maxlength="50"
                                   title="Enter Festival Name" data-toggle="tooltip"
                                   data-placement="top" autocomplete="off" required />
                        </div>

                        <div class="form-group" align="left">
                            <label for="description" lang="en"><span
                                    class="color-red f-bold f-left"></span><span lang="en">Festival Description</span>:</label>
                            <input type="text" class="form-control"
                                   id="description" ng-model="holiday.description"
                                   placeholder="Enter Festival Description"
                                   title="Enter Festival Description" data-toggle="tooltip"
                                   data-placement="top" autocomplete="off"  />
                        </div>

                            <div class="form-group" align="left" required>
                            <label lang="en"> <span class="color-red f-bold f-left">*</span>Festival Date</label>:
                            <input ng-model="holiday.festivalDate" placeholder="Please Select Date" class="form-control" type="text"  ng-calendar format="%d-%m-%Y" readonly />

                            </div>

                        <input id="createHoliday" class="btn btn-success" type="submit" lang="en" value="Submit"/>

                        <button type="button" class="btn btn-info" ng-click="reset()" lang="en">Reset</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Edit-->
<div class="modal fade" id="holidayEdit" data-backdrop="static" data-keyboard="false" case="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" align="center">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" ng-click="cancelEdit()">&times;</button>
                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                    <h4 class="modal-title text-left" lang="en">Edit Holiday</h4>
                </div>
                <div class="modal-body">

                    <div>
                        <div class=" text-center color-red f-bold"></div>
                        <div class="text-center color-red f-bold" ng-show="holidayUpdationError">{{updateHolidayError}}</div>
                        <form class="simple-form" ng-submit="editHoliday()">

                            <div class="form-group" align="left">
                                <label for="festival" lang="en"><span
                                        class="color-red f-bold f-left">*</span><span lang="en">Festival Name</span>:</label>
                                <input type="text" class="form-control"
                                       id="festival1" ng-model="updateHoliday.festival"
                                       placeholder="Enter Festival Name"  maxlength="50"
                                       title="Enter Festival Name" data-toggle="tooltip"
                                       data-placement="top" autocomplete="off" required />
                            </div>

                            <div class="form-group" align="left">
                                <label for="description" lang="en"><span
                                        class="color-red f-bold f-left"></span><span lang="en">Festival Description</span>:</label>
                                <input type="text" class="form-control"
                                       id="description1" ng-model="updateHoliday.description"
                                       placeholder="Enter Festival Description"
                                       title="Enter Festival Description" data-toggle="tooltip"
                                       data-placement="top" autocomplete="off"  />
                            </div>

                            <div class="form-group" align="left">
                                <label> <span class="color-red f-bold f-left">*</span><span lang="en">Festival Date</span>:</label>
                                <input ng-model="updateHoliday.festivalDate" class="form-control" placeholder="Please Select Date" type="text" ng-calendar format="%d-%m-%Y" required readonly>

                            </div>


                            <input type="submit" class="btn btn-success" lang="en" value="Update"/>
                            <input type="button" class="btn btn-default"  lang="en" value="Cancel"
                                   ng-click="cancelEdit()"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div id="emptyDataTable" class="modal fade" data-backdrop="static" data-keyboard="false"  role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center modalSuccess">
                <div class="sMessage">No Data for Export</div>
            </div>
        </div>
    </div>
</div>