<!DOCTYPE html>
<html ng-app="myApp">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>E-GOVERNANCE PORTAL</title>

  <style>
    .goog-te-banner-frame.skiptranslate {
      display: none !important;
    }
    body {
      top: 0px !important;
    }
  </style>

  <link href="css/bootstrap.min.css" rel="stylesheet" />
  <link href="css/bootstrap-theme.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/footable.core.css">
  <link href="css/sb-admin.css" rel="stylesheet" />
  <link href="css/new_header_style.css" rel="stylesheet" />  
  <link href="css/plugins/morris.css" rel="stylesheet" />
  <link href="css/selectize.default.css" rel="stylesheet" />
  <link href="plugins/AdminLTE.css" rel="stylesheet" />
  <link href="plugins/_all-skins.css" rel="stylesheet" />
  <!--<link rel="stylesheet" href="https://cdn.rawgit.com/codekraft-studio/angular-page-loader/master/dist/angular-page-loader.css">-->
  <!--<link href="plugins/blue.css" rel="stylesheet" />-->

  <link href="dist/ngcalendar.css" rel="stylesheet" />
  <link href="../bower_components/angular-datatables/dist/css/angular-datatables.css" rel="stylesheet" />
  <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet" />
  <link href="../bower_components/datatables/media/css/jquery.dataTables.css" rel="stylesheet" />
  <link href="css/style.css" rel="stylesheet" rel="stylesheet" />
  <link href="css/mediaQueries.css" rel="stylesheet" rel="stylesheet" />

  <!-- for pdf export-->
  <!--<script type="text/javascript" src="js/pdfmake.js"></script>-->
  <!--<script type="text/javascript" src="js/vfs_fonts.js"></script>-->


  <script>
   /* var userDetails = window.localStorage.getItem('userDetails');
    console.log("userDetails"+ userDetails);
//    userDetails={
//      "az":"afzal"
//    }
    if(!userDetails) {
      window.location.href = "login.html";
    }
*/
    function userLogout() {
      window.localStorage.removeItem('userDetails');
      window.location.href = "login.html";
    }
  </script>

<style>
  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
</style>
</head>

<body class="hold-transition skin-blue sidebar-mini fixed" id="sourceText" ng-cloak>
<page-loader></page-loader>
<div class="wrapper">
  <header class="main-header">
    <!-- Logo -->
    <!-- <a href="http://34.218.165.231:3003/admin/selectModule.html#/" class="logo"> -->
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <a class="logo">
      <span class="logo-mini"><b>Yitsol Smart City</b></span>
      <!-- logo for regular state and mobile devices -->

      <span class="logo-lg"><!--<b class=" ">dhanbad</b>
          <b class=" ">Official portal</b>-->
          <!-- <b class="" lang="en">Yitsol Smart City</b> -->
          <img style="height: 119px;margin-top: 4px;" src="images/tamilnadu logo.png">


        </span>
    </a>


<!-- new header added starts -->

<div id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="header_top">
      <div class="col-lg-12">
        <div class="col-lg-4 col-md-6">
          <p class="header_top_text">LOG IN &emsp;&emsp;|&emsp;&emsp; SITEMAP</p>
        </div>
        <div class="col-lg-6 col-md-6 languageoptions">
          <p>Choose Your Language:
            <select>
              <option>English</option>
              <option>Hindi</option>
              <option>Tamil</option>
              <option>Telugu</option>
            </select>
          </p>
        </div>
        <div class="col-lg-2 col-md-12 ">
          <div class="social_icons">
            <i class="fa fa-google" aria-hidden="true"></i>
            <i class="fa fa-linkedin" aria-hidden="true"></i>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </div>
        </div>
      </div>



    </div>
    <div class="container-fluid">

      <div class=" collapse navbar-collapse navbar-menubuilder list_menu">
        <div><h2 class="class_governance">E-GOVERNANCE COIMBATORE</h2></div>
        <ul style="    margin-top: -11px;" class=" ">
          <li>
            <a class="lia" ><b>Home</b></a>
          </li>
          <!-- <li>
              <div class="dropdown">
                  <button class="dropbtn"><b>Government Services</b></button>
                  <div class="dropdown-content">
                      <a href="http://localhost:3003/admin/#/landModulelogin/{{employeeData}}" class="capitalize">Schemes Module</a>
                      <a href="http://localhost:3005/admin/#/projectModulelogin/{{employeeData}}" class="capitalize">Project Ward Works</a>                          
                          <a href="http://localhost:3007/admin/#/legalModulelogin/{{employeeData}}" class="capitalize">Legal Module</a>
                          <a href="http://localhost:3009/admin/#/landModulelogin/{{employeeData}}" class="capitalize">Land Management Module</a>
                          <a href="http://localhost:3019/admin/#/assetModulelogin/{{employeeData}}" class="capitalize">asset management module</a>
                          <a href="http://localhost:3011/admin/#/vehicleLogin/{{employeeData}}" class="capitalize">vehicle management module</a>
                          <a href="http://localhost:3013/admin/#/birthlogin/{{employeeData}}" class="capitalize">birth & death module</a>
                          <a href="http://localhost:3021/admin/#/licenseLogin/{{employeeData}}" class="capitalize">license module</a>
                          <a href="http://localhost:3023/admin/#/ipmLogin/{{employeeData}}" class="capitalize">integrated personal management system</a>
                          <a href="http://localhost:3025/admin/#/eselfServiceLogin/{{employeeData}}" class="capitalize">employee self servive module</a>
                          <a href="http://localhost:3015/admin/#/grievanceModulelogin/{{employeeData}}" class="capitalize">grievance module</a>
                          <a href="http://localhost:3017/admin/#/propertyModulelogin/{{employeeData}}" class="capitalize">property tax module</a>
                  </div>
                </div>
          </li> -->
          <li>
            <a class="lia" ><b>e-Sevai</b></a>
          </li>
          <li>
            <a class="lia" ><b>Tenders</b></a>
          </li>
          <li>
            <a class="lia" ><b>Contact Us</b></a>
          </li>
          <li>
            <a class="lia" ><b>News & Events</b></a>
          </li>
          <li>
            <a class="lia" ><b>Downloads</b></a>
          </li>
        </ul>
      </div>
    </div>
  </div>


<!-- new header added ends -->



    <!-- Header Navbar: style can be found in header.less -->
    <!-- <nav class="navbar navbar-static-top"> -->
      <!-- Sidebar toggle button-->
      <!-- <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="chooseLang">
        <div class="d-table">
          <div class="d-tbcell v-middle nopadding"> -->
            <!--<span class="">Choose Your Language &nbsp;&nbsp;</span>-->
          <!-- </div> -->
          <!--<div class="d-tbcell v-middle nopadding">
            <div id="google_translate_element" class="">
            </div>
          </div>-->
          <!-- <div class="d-tbcell v-middle nopadding">
            <div class="pull-right"><span class="langText">Choose Your Language  </span>
              <select id="languageChange" onchange="language(this)">
                <option value="english">English</option>
                <option value="hindi">Hindi</option>
              </select>
            </div>

          </div>
        </div>
      </div>


      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav"> -->
          <!-- Messages: style can be found in dropdown.less-->
          <!--<li class="dropdown messages-menu">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">7</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 4 messages</li>
              <li>
                &lt;!&ndash; inner menu: contains the actual data &ndash;&gt;
                <ul class="menu">
                  <li>&lt;!&ndash; start message &ndash;&gt;
                    <a href="#">
                      &lt;!&ndash;<div class="pull-left">&ndash;&gt;
                        &lt;!&ndash;<img src="images/userImg1.jpg" class="img-circle" alt="User Image">&ndash;&gt;
                      &lt;!&ndash;</div>&ndash;&gt;
                      <h4>
                        Support Team
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  &lt;!&ndash; end message &ndash;&gt;
                  <li>
                    <a href="#">
                      &lt;!&ndash;<div class="pull-left">&ndash;&gt;
                        &lt;!&ndash;<img src="images/userImg2.jpg" class="img-circle" alt="User Image">&ndash;&gt;
                      &lt;!&ndash;</div>&ndash;&gt;
                      <h4>
                        AdminLTE Design Team
                        <small><i class="fa fa-clock-o"></i> 2 hours</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      &lt;!&ndash;<div class="pull-left">&ndash;&gt;
                        &lt;!&ndash;<img src="images/userImg3.jpg" class="img-circle" alt="User Image">&ndash;&gt;
                      &lt;!&ndash;</div>&ndash;&gt;
                      <h4>
                        Developers
                        <small><i class="fa fa-clock-o"></i> Today</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      &lt;!&ndash;<div class="pull-left">&ndash;&gt;
                        &lt;!&ndash;<img src="images/userImg4.jpg" class="img-circle" alt="User Image">&ndash;&gt;
                      &lt;!&ndash;</div>&ndash;&gt;
                      <h4>
                        Sales Department
                        <small><i class="fa fa-clock-o"></i> Yesterday</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      &lt;!&ndash;<div class="pull-left">&ndash;&gt;
                        &lt;!&ndash;<img src="images/avatar.png" class="img-circle" alt="User Image">&ndash;&gt;
                      &lt;!&ndash;</div>&ndash;&gt;
                      <h4>
                        Reviewers
                        <small><i class="fa fa-clock-o"></i> 2 days</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
          </li>-->
          <!-- Notifications: style can be found in dropdown.less -->
          <!-- <li class="dropdown notifications-menu">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-danger">{{notificationData.count}}</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have {{notificationData.count}} notifications</li>
              <li> -->
                <!-- inner menu: contains the actual data -->
                <!-- <ul class="menu">
                  <li ng-repeat="notification in notificationData.data"  ng-class="(notification.readStatus == true) ? 'statusTrue' : 'statusFalse'" >
                    <a ng-click="updateNotificationStatus(notification)">
                    <div>{{notification.createdTime | date:"dd/MM/yyyy"}}</div>
                      <div>{{notification.message | limitTo: 35}} {{notification.message.length >35 ? '...': ''}}</div>
                      </a>
                  </li>
                </ul>
              </li> -->
              <!--<li class="footer"><a href="#">View all</a></li>-->
            <!-- </ul>
          </li> -->
          <!-- User Account: style can be found in dropdown.less -->
          <!-- <li class="dropdown user user-menu">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <img src="images/avatar.png" class="user-image" alt="User Image">
              <span class="hidden-xs"><span lang="en">Welcome</span>  {{userName}}</span>
              <span class="pull-right-container">
                  <i class="fa fa-angle-double-down pull-right m-top"></i>
                </span>
            </a>
            <ul class="dropdown-menu"> -->
              <!-- User image -->
              <!-- <li class="user-header">
                <img src="images/avatar.png" class="img-circle" alt="User Image">
                <p> -->
                  <!-- {{userName}} -->
                   <!-- - {{userInfo.designation}} -->
                  <!--      <small>Member since Nov. 2012</small>-->
                  <!-- <small> <i class="fa fa-1x fa-phone" aria-hidden="true"></i> {{userInfo.mobile}}</small>
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#/userProfile" class="btn btn-success btn-flat"> <span lang="en">Profile</span></a>
                </div>
                <div class="pull-right">
                  <a href="#" ng-click="logout()" class="btn btn-default btn-flat"><span lang="en">Sign out</span></a>
                </div>
              </li>
            </ul>
          </li> -->
          <!-- Control Sidebar Toggle Button -->
        <!-- </ul>
      </div>
    </nav> -->
  </header>


  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="images/avatar.png" class="img-circle" alt="User Image">
        </div>
        <div class="info">
          <p lang="en">Welcome To<b>, <h4>{{userName}}</h4></b></p>
          <div class="height20"></div>
          <!-- <div><small>{{currentDate}}</small></div>-->
          <!--  <div><small>Mobile Number: {{userInfo.mobile}}</small></div>-->
          <!--  <a href="#" ng-click="logout()" class="color-fff"><small>Sign out</small></a>-->
        </div>
      </div>
      <ul class="sidebar-menu">

        <li id="landAssetLi" class="treeview" ng-if="roleLogin.landAndAsset">
          <a>
            <i class="fa fa-dot-circle-o"></i> <span lang="en">Asset Module</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-double-down pull-right"></i>
            </span>
          </a>
          <ul id="landAssets" class="treeview-menu">
            <li id="landMasterDataPro">
              <a lang="en"><i class="fa fa-angle-right"></i> Master Data
                <span class="pull-right-container">
                    <i class="fa fa-angle-double-down pull-right"></i>
                  </span>
              </a>
              <ul id="masterProSetUp" class="treeview-menu">
                <li class="assetType" ng-if="roleLogin.assetTypeAccess"><a href="#/assetType"><i class="fa fa-angle-right"></i> <span lang="en">Asset Types</span></a></li>
                <li class="accountDetails" ng-if="roleLogin.accountDetailsAccess"><a href="#/accountDetails"><i class="fa fa-angle-right"></i> <span lang="en">Account Details</span></a></li>
                <!-- <li class="assetGroup" ng-if="roleLogin.assetGroupAccess"><a href="#/assetGroup"><i class="fa fa-angle-right"></i> <span lang="en">Asset Group</span></a></li> -->
                <!-- <li class="assetProfile" ng-if="roleLogin.assetProfileAccess"><a href="#/assetProfile"><i class="fa fa-angle-right"></i><span lang="en"> Asset Profile</span></a></li> -->
                <!-- <li class="assetCriticality" ng-if="roleLogin.assetCriticalityAccess"><a href="#/assetCriticality"><i class="fa fa-angle-right"></i><span lang="en"> Asset Criticality</span></a></li> -->
                <!-- <li class="maintenanceObjectives" ng-if="roleLogin.maintenanceObjectivesAccess"><a href="#/maintenanceObjectives"><i class="fa fa-angle-right"></i> <span lang="en">Maintenance Objectives</span></a></li> -->
                <!-- <li class="typeOfDuty" ng-if="roleLogin.typeOfDutyAccess"><a href="#/typeOfDuty"><i class="fa fa-angle-right"></i><span lang="en"> Type Of Duty</span></a></li> -->
                <!-- <li class="failureClasses" ng-if="roleLogin.failureClassesAccess"><a href="#/failureClasses"><i class="fa fa-angle-right"></i> <span lang="en">Failure Classes</span></a></li> -->
                <li class="assetSparesAndConsumables" ng-if="roleLogin.assetSparesAndConsumablesAccess"><a href="#/assetSpares"><i class="fa fa-angle-right"></i> <span lang="en">Asset Spares/Consumables</span></a></li>
                <!-- <li class="documentListMaster" ng-if="roleLogin.documentListMasterAccess"><a href="#/documentListMaster"><i class="fa fa-angle-right"></i> <span lang="en">Document List Master</span></a></li> -->
                <!-- <li class="assetStatus" ng-if="roleLogin.assetStatusAccess"><a href="#/assetStatus"><i class="fa fa-angle-right"></i> <span lang="en">Asset Status</span></a></li> -->
                <!-- <li class="assetKPIs" ng-if="roleLogin.assetKPIsAccess"><a href="#/assetKPI"><i class="fa fa-angle-right"></i> <span lang="en">Asset KPIs</span></a></li> -->
                <!-- <li class="assetServiceLevel" ng-if="roleLogin.assetServiceLevelAccess"><a href="#/assetServiceLevel"><i class="fa fa-angle-right"></i><span lang="en"> Asset Service Level</span></a></li> -->
                <!-- <li class="assetCauses"><a href="#/assetCauses"><i class="fa fa-angle-right"></i> Asset Causes</a></li> -->
                <!-- <li class="assetDisposalMethods" ng-if="roleLogin.assetDisposalMethodsAccess"><a href="#/disposalMethods"><i class="fa fa-angle-right"></i><span lang="en"> Asset Disposal Methods</span></a></li> -->
                <li class="assetRisks" ng-if="roleLogin.assetRisksAccess"><a href="#/assetRisks"><i class="fa fa-angle-right"></i> <span lang="en">Asset Risks</span></a></li>
                <!-- <li class="costCenter" ng-if="roleLogin.costCenterAccess"><a href="#/costCenters"><i class="fa fa-angle-right"></i> <span lang="en">Cost Center</span></a></li> -->
                <!-- <li class="assetPolicies" ng-if="roleLogin.assetPoliciesAccess"><a href="#/assetPolicies"><i class="fa fa-angle-right"></i><span lang="en"> Asset Policies</span></a></li> -->
                <li class="assetDepartment" ng-if="roleLogin.assetDepartmentAccess"><a href="#/assetDepartment"><i class="fa fa-angle-right"></i> <span lang="en">Department List</span></a></li>
                <!-- <li class="assetLifeCyclePlan" ng-if="roleLogin.assetLifeCyclePlanAccess"><a href="#/assetLifeCyclePlan"><i class="fa fa-angle-right"></i> <span lang="en">Asset Life Cycle Plan</span></a></li> -->
                <!-- <li class="assetEmailConfiguration" ng-if="roleLogin.assetEmailConfigurationAccess"><a href="#/assetEmailTemplate"><i class="fa fa-angle-right"></i> <span lang="en"> Asset Email Configuration</span></a></li> -->
              </ul>
            </li>
            <li id="landAssetPro">
              <a lang="en"><i class="fa fa-angle-right"></i>Asset Management
                <span class="pull-right-container">
                    <i class="fa fa-angle-double-down pull-right"></i>
                  </span>
              </a>

              <ul id="landProSetUp" class="treeview-menu">
                <li class="createAssetOthers" ng-if="roleLogin.createAssetOthersAccess"><a href="#/createAssetOthers"><i class="fa fa-angle-right"></i> <span lang="en">Create Asset</span></a></li>
                <li class="createAssetOthers" ng-if="roleLogin.createAssetOthersAccess"><a href="#/createAssetOthers"><i class="fa fa-angle-right"></i><span lang="en"> Create Asset Others</span></a></li>
                <li class="costTransferFunds" ng-if="roleLogin.costTransferFundsAccess"><a href="#/costTransferFunds"><i class="fa fa-angle-right"></i><span lang="en">Cost center Transfer Funds</span></a></li>
                <li class="createAssetObjectivesAndKPIs" ng-if="roleLogin.createAssetObjectivesAndKPIsAccess"><a href="#/createAssetObjectives"><i class="fa fa-angle-right"></i> <span lang="en">Create Asset Objectives/KPI's</span></a></li>
                <li class="createAssetSparesAndConsumables" ng-if="roleLogin.createAssetSparesAndConsumablesAccess"><a href="#/createAssetSpares"><i class="fa fa-angle-right"></i> <span lang="en">Create Asset Spares/Consumables</span></a></li>
                <li class="createAssetFailureAndMaintenance" ng-if="roleLogin.createAssetFailureAndMaintenanceAccess"><a href="#/createAssetFailure"><i class="fa fa-angle-right"></i> <span lang="en">Create Asset Failure/Maintenance</span></a></li>
                <li class="createAssetRisks" ng-if="roleLogin.createAssetRisksAccess"><a href="#/createAssetRisks"><i class="fa fa-angle-right"></i> <span lang="en">Create Asset Risks</span></a></li>
                <li class="createAssetCauses" ng-if="roleLogin.createAssetCausesAccess"><a href="#/createAssetCauses"><i class="fa fa-angle-right"></i><span lang="en">Create Asset Causes</span></a></li>
                <li class="createAssetServiceLevelForecast" ng-if="roleLogin.createAssetServiceLevelForecastAccess"><a href="#/createAssetServiceLevelForecast"><i class="fa fa-angle-right"></i><span lang="en">Create Asset Service Level Forecast</span></a></li>
                <li class="assetDemandProjection" ng-if="roleLogin.assetDemandProjectionAccess"><a href="#/assetDemandProjection"><i class="fa fa-angle-right"></i><span lang="en">Asset Demand Projection</span></a></li>
              </ul>
            </li>
            <!-- <li id="vehicalPro">
              <a><i class="fa fa-angle-right"></i><span lang="en">Vehicle Management</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-double-down pull-right"></i>
                  </span>
              </a>
              <ul id="vehicleProSetUp" class="treeview-menu">
                <li class="purchaseRequests" ng-if="roleLogin.purchaseRequestsAccess"><a href="#/purchageAgendaRequest"><i class="fa fa-angle-right"></i> <span lang="en">Requests</span></a></li>
                <li class="purchaseReports" ng-if="roleLogin.purchaseRequestsReportAccess"><a href="#/purchageAgendaRequestReport"><i class="fa fa-angle-right"></i> <span lang="en">Requests Reports</span></a></li>
                <li class="purchaseAgenda" ng-if="roleLogin.purchaseAgendaAccess"><a href="#/purchageAgenda"><i class="fa fa-angle-right"></i> <span lang="en">Purchase Agenda</span></a></li>
                <li class="assignDriver" ng-if="roleLogin.assignDriverAccess"><a href="#/assignDriver"><i class="fa fa-angle-right"></i> <span lang="en">Assign Driver</span></a></li>
                <li class="logBook" ng-if="roleLogin.logBookAccess"><a href="#/logBook"><i class="fa fa-angle-right"></i> <span lang="en">Log Book</span></a></li>
                <li class="submitBills" ng-if="roleLogin.submitBillsAccess"><a href="#/submitBills"><i class="fa fa-angle-right"></i> <span lang="en">Submit Bills</span></a></li>
              </ul>

            </li> -->

            <!-- <li id="landMISPro">
              <a href="#/MISReports"><i class="fa fa-angle-right"></i><span lang="en">MIS Reports</span></a>
            </li> -->

            <!--<li id="landMISPro">
              <a><i class="fa fa-angle-right"></i><span lang="en">MIS Reports</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-double-down pull-right"></i>
                  </span>
              </a>
              <ul id="landMISProSetUp" class="treeview-menu">
                <li class="requestWiseReports" ><a href="#/requestWiseReports"><i class="fa fa-angle-right"></i> <span lang="en">Request Wise Reports</span></a></li>
                <li class="requestAging"><a href="#/requestAging"><i class="fa fa-angle-right"></i> <span lang="en">Request Aging</span></a></li>
                <li class="workflowTracker"><a href="#/workflowTracker"><i class="fa fa-angle-right"></i> <span lang="en">WorkFlow Tracker</span></a></li>
              </ul>
            </li>-->
          </ul>
        </li>

        <li id="userAdminLi" class="treeview" ng-if="roleLogin.userAdmin">
          <a>
            <i class="fa fa-sitemap"></i> <span lang="en">User Administration</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-double-down pull-right"></i>
            </span>
          </a>
          <ul id="userAdminiProSetUp" class="treeview-menu">
           <!--&lt;!&ndash;<li class="appConfig"  ng-if="roleLogin.appConfigAccess"><a href="#/appConfig"><i class="fa fa-angle-right"></i> <span lang="en">App Config</span></a></li>&ndash;&gt;-->
            <li class="employeeDepartment" ng-if="roleLogin.employeeDepartmentAccess"><a href="#/employeeDepartment"><i class="fa fa-angle-right"></i> <span lang="en">Department List</span></a></li>
            <li class="employeeList" ng-if="roleLogin.employeeAccess"><a href="#/employeeList"><i class="fa fa-angle-right"></i><span lang="en"> Employee List</span></a></li>
           <li class="contractorsList" ng-if="roleLogin.contractorsListAccess"><a href="#/contractorsList"><i class="fa fa-angle-right"></i><span lang="en"> Contractors List</span></a></li>
            <li class="languageSelection" ng-if="roleLogin.languageDataAccess"><a href="#/languageSelection"><i class="fa fa-angle-right"></i> <span lang="en">Language Selection</span></a></li>
            <li class="designation" ng-if="roleLogin.employeeDesignationAccess"><a href="#/designation"><i class="fa fa-angle-right"></i><span lang="en"> Designation List</span></a></li>
            <li class="employeeType" ng-if="roleLogin.employeeTypeAccess"><a href="#/employeeType"><i class="fa fa-angle-right"></i><span lang="en"> Employee Type List</span></a></li>
            <li class="role" ng-if="roleLogin.roleAccess"><a href="#/role"><i class="fa fa-angle-right"></i> <span lang="en">Create Roles</span></a></li>
            <li class="roleEmployee" ng-if="roleLogin.roleAccess"><a href="#/roleEmployees"><i class="fa fa-angle-right"></i> <span lang="en">Role Employees</span></a></li>
            <!--<li id="workflowLi" class="" >-->
              <!--<a lang="en"><i class="fa fa-angle-right"></i> Workflow Setup-->
                <!--<span class="pull-right-container">-->
                  <!--<i class="fa fa-angle-double-down pull-right"></i>-->
                <!--</span>-->
              <!--</a>-->
              <!--<ul id="workflowSetup" class="treeview-menu">-->
                <!--<li class="workFlowList" ng-if="roleLogin.workflowAccess"><a href="#/workFlowList"><i class="fa fa-angle-right"></i><span lang="en"> Create Workflow</span></a></li>-->
                <!--<li class="workFlowLevel"ng-if="roleLogin.workflowLevelsAccess"><a href="#/workFlowLevel"><i class="fa fa-angle-right"></i><span lang="en"> Create Levels</span></a></li>-->
                <!--<li class="workFlowEmployee" ng-if="roleLogin.workflowEmployeeAccess"><a href="#/workFlowEmployee"><i class="fa fa-angle-right"></i> <span lang="en">Assign Employees</span></a></li>-->
                <!--<li class="workFlowForms" ng-if="roleLogin.workflowFormsAccess"><a href="#/workFlowForms"><i class="fa fa-angle-right"></i><span lang="en"> Assign Forms</span></a></li>-->

              <!--</ul>-->
            <!--</li>-->
          </ul>
        </li>
        </ul>
</section>
  </aside>

</div>
<section class="container-fluid content-wrapper">
  <div ng-controller="indexController">
    <div ng-view>
    </div>
  </div>
</section>




<script src="js/jquery-1.12.4.min.js"></script>
<script src="js/jquery-ui.js"></script>

<script src="js/angular.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/footable.js"></script>
<script src="../bower_components/angular-datatables/dist/angular-datatables.min.js"></script>
<script src="../bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="js/angular-datatables.bootstrap.js"></script>
<script src="../bower_components/moment/moment.js"></script>
<script src="js/customSelect.js"></script>
<script src="js/angular-resource.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/angular-animate.min.js"></script>
<script src="js/underscore.min.js"></script>
<script src="js/angular-cookies.min.js"></script>
<script src="js/angular-sanitize.min.js" data-semver="1.4.5"></script>
<script src="dist/ngcalendar.js"></script>
<script src="js/select.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/codekraft-studio/angular-page-loader/master/dist/angular-page-loader.min.js"></script>
<!--<script type="text/javascript" src="js/tinymce.min.js"></script>-->
<script type="text/javascript" src="http://tinymce.cachefly.net/4.0/tinymce.min.js"></script>


<!--File upload JS files start -->
<script src="../bower_components/ng-file-upload/ng-file-upload.min.js"></script>
<script src="../bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
<!--File upload JS files completed -->
<script src="js/bootstrap.min.js"></script>

<link rel="stylesheet" href="../bower_components/fullcalendar/dist/fullcalendar.css"/>
<script type="text/javascript" src="../bower_components/angular-ui-calendar/src/calendar.js"></script>
<script type="text/javascript" src="../bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script type="text/javascript" src="../bower_components/fullcalendar/dist/gcal.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.6.1/angular-translate.js"></script>-->
<script src="js/js.cookie.js" charset="utf-8" type="text/javascript"></script>
<script src="js/jquery-lang.js" charset="utf-8" type="text/javascript"></script>
<script src="js/Schemes.js"></script>
<script src="js/Constants.js"></script>
<script src="js/projectWardWorks.js"></script>
<script src="js/legalManagement.js"></script>
<script src="js/Workflow.js"></script>
<script src="js/landAndAsset.js"></script>
<!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
  WARNING: Respond.js doesn't work if you view the page via file://
  [if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.7.0/lodash.min.js"></script>
<![endif]-->

<script src="plugins/app.min.js"></script>
<script src="plugins/demo.js"></script>
<script src="plugins/jquery.slimscroll.min.js"></script>

<script type="text/javascript" src="js/plugins/tableexport/tableExport.js"></script>
<script type="text/javascript" src="js/plugins/tableexport/jquery.base64.js"></script>
<script type="text/javascript" src="js/plugins/tableexport/html2canvas.js"></script>
<script type="text/javascript" src="js/plugins/tableexport/jspdf/libs/sprintf.js"></script>
<script type="text/javascript" src="js/plugins/tableexport/jspdf/jspdf.js"></script>
<script type="text/javascript" src="js/plugins/tableexport/jspdf/libs/base64.js"></script>

<!--Chart Plugins-->
<script src="https://code.highcharts.com/highcharts.js"></script>

<!--am charts start-->
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<!--<script type="text/javascript" src="js/amcharts.js">-->
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<!--am charts end-->

<!-- END THIS PAGE PLUGINS-->

</body>

<script type="text/javascript">
  $(document).ready(function()
  {
    $(".skiptranslate").hide();
  });
  var cookieaData=Cookies.get(this.cookieName);

  var lang = new Lang();
  lang.dynamic('hi', 'api/LanguageModels/getLanguageData');
  lang.init({
    defaultLang: 'en'
  });
  if(cookieaData.langCookie){
    if(cookieaData.langCookie=='hi'){
      $("#languageChange").val('hindi');
      window.lang.change('hi');
    }

    if(cookieaData.langCookie=='en'){
      window.lang.change('en');
      $("#languageChange").val('english');
    }
  }
  function language(name){
    if(name.value=='english'){
      window.lang.change('en');

    }else if(name.value=='hindi'){
      window.lang.change('hi');

    }
  }

</script>

</html>

