<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Legal Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Case Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Email List</span></li>
            </ol>
        </div>
    </div>
</div>
<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" lang="en">
                        <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span>Email List</div>
                    </div>
                    <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme">
                        <button class="btn btn-success pull-right" data-toggle="modal" data-target="#addEmail">Add Email </button>
                    </div>-->
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="projectMain">
                    <div class="projectTile" lang="en">Email Details</div>
                    <div class="table-responsive projectInner">
                        <div class="schemForms">
                            <form ng-submit="editEmailTemp(email)">
                                <div class="row">
                                    <div class="form-group col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-0ffset-3 col-sm-6 col-xs-12">
                                        <label><span lang="en">Email Id</span>:</label>
                                        <input type="text" placeholder="Enter Email Id" class="form-control" ng-model="email.emailId"  readonly />
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <hr />
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <label class="emailTitle"  lang="en"> <span class="color-red f-bold f-left">*</span>Hearing Date Creation</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="row">
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" lang="en"> Email Subject
                                                            <textarea class="noresize" rows="2" ng-model="legalType.hearingSubject" placeholder="Enter Hearing Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" lang="en"> SMS Text
                                                            <textarea class="noresize" rows="2" ng-model="legalType.hearingSMS" placeholder="Enter Hearing SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" lang="en"> Email Text
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce id="tinymce1" ng-model="legalType.hearingText" placeholder="Enter Hearing Mail Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <hr />
                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">
                                        <div class="m-top20">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                                    <label class="emailTitle" lang="en"> <span class="color-red f-bold f-left">*</span>Case Creation</label>
                                                </div>
                                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                                    <div class="row">
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" lang="en"> Email Subject
                                                            <textarea class="noresize" rows="2" ng-model="legalType.caseSubject" placeholder="Enter Case Creation Subject" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" lang="en"> SMS Text
                                                            <textarea class="noresize" rows="2" ng-model="legalType.caseSMS" placeholder="Enter Case Creation SMS Text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" lang="en"> Email Text
                                                            <!--<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>-->
                                                            <textarea ui-tinymce id="tinymce2" ng-model="legalType.caseText" placeholder="Enter Case Creation Email Text" ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">-->

                                        <!--<div class="m-top20">-->
                                            <!--<div class="row">-->
                                                <!--<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">-->
                                                    <!--<label> <span class="color-red f-bold f-left">*</span>Citizen Forgot Password</label>-->
                                                <!--</div>-->
                                                <!--<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">-->
                                                    <!--<div class="row">-->

                                                        <!--<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> Email Subject-->
                                                            <!--<textarea rows="2" ng-model="email.citizenSubject" placeholder="Enter Citizen Email Subject" ></textarea>-->
                                                        <!--</div>-->
                                                        <!--<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> SMS Text-->
                                                            <!--<textarea rows="2" ng-model="email.citizenSMS" placeholder="Enter Citizen SMS Text" ></textarea>-->
                                                        <!--</div>-->
                                                        <!--<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> Email Text-->
                                                            <!--&lt;!&ndash;<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>&ndash;&gt;-->
                                                            <!--<textarea ui-tinymce id="tinymce2" ng-model="email.citizenText" placeholder="Enter Citizen Email Text" ></textarea>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->


                                    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">-->
                                        <!--<div class="m-top20">-->
                                            <!--<div class="row">-->
                                                <!--<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">-->
                                                    <!--<label> <span class="color-red f-bold f-left">*</span>Scheme Request Email</label>-->
                                                <!--</div>-->
                                                <!--<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">-->
                                                    <!--<div class="row">-->

                                                        <!--<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> Email Subject-->
                                                            <!--<textarea rows="2" ng-model="email.requestEmail" placeholder="Enter Request Email Subject" ></textarea>-->
                                                        <!--</div>-->
                                                        <!--<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> SMS Text-->
                                                            <!--<textarea rows="2" ng-model="email.requestSMS" placeholder="Enter Request SMS Text" ></textarea>-->
                                                        <!--</div>-->
                                                        <!--<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> Email Text-->
                                                            <!--&lt;!&ndash;<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>&ndash;&gt;-->
                                                            <!--<textarea ui-tinymce id="tinymce3"  ng-model="email.requestText" placeholder="Enter Request Email Text" ></textarea>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->


                                    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">-->
                                        <!--<div class="m-top20">-->
                                            <!--<div class="row">-->
                                                <!--<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">-->
                                                    <!--<label> <span class="color-red f-bold f-left">*</span>Scheme Request Level</label>-->
                                                <!--</div>-->
                                                <!--<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">-->
                                                    <!--<div class="row">-->

                                                        <!--<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> Email Subject-->
                                                            <!--<textarea rows="2" ng-model="email.levelEmail" placeholder="Enter Scheme Request Level Subject" ></textarea>-->
                                                        <!--</div>-->
                                                        <!--<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> SMS Text-->
                                                            <!--<textarea rows="2" ng-model="email.levelSMS" placeholder="Enter Scheme Request Level SMS Text" ></textarea>-->
                                                        <!--</div>-->
                                                        <!--<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> Email Text-->
                                                            <!--&lt;!&ndash;<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>&ndash;&gt;-->
                                                            <!--<textarea ui-tinymce id="tinymce4" ng-model="email.levelText" placeholder="EnterScheme Request Level Text" ></textarea>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->


                                    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">-->
                                        <!--<div class="m-top20">-->
                                            <!--<div class="row">-->
                                                <!--<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">-->
                                                    <!--<label> <span class="color-red f-bold f-left">*</span>Scheme Request Approval</label>-->
                                                <!--</div>-->
                                                <!--<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">-->
                                                    <!--<div class="row">-->

                                                        <!--<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> Email Subject-->
                                                            <!--<textarea rows="2" ng-model="email.requestApprovalEmail" placeholder="Enter Request Approval Email Subject" ></textarea>-->
                                                        <!--</div>-->
                                                        <!--<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> SMS Text-->
                                                            <!--<textarea rows="2" ng-model="email.requestApprovalSMS" placeholder="Enter Request Approval SMS Text" ></textarea>-->
                                                        <!--</div>-->
                                                        <!--<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> Email Text-->
                                                            <!--&lt;!&ndash;<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>&ndash;&gt;-->
                                                            <!--<textarea ui-tinymce id="tinymce5" ng-model="email.requestApprovalMessage" placeholder="Enter Request Approval Email Text" ></textarea>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->


                                    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">-->
                                        <!--<div class="m-top20">-->
                                            <!--<div class="row">-->
                                                <!--<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">-->
                                                    <!--<label> <span class="color-red f-bold f-left">*</span>Scheme Request Rejected</label>-->
                                                <!--</div>-->
                                                <!--<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">-->
                                                    <!--<div class="row">-->

                                                        <!--<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> Email Subject-->
                                                            <!--<textarea rows="2" ng-model="email.rejectedEmail" placeholder="Enter Request Rejected Email Subject" ></textarea>-->
                                                        <!--</div>-->
                                                        <!--<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> SMS Text-->
                                                            <!--<textarea rows="2" ng-model="email.rejectedSMS" placeholder="Enter Request Rejected SMS Text" ></textarea>-->
                                                        <!--</div>-->
                                                        <!--<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> Email Text-->
                                                            <!--&lt;!&ndash;<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>&ndash;&gt;-->
                                                            <!--<textarea ui-tinymce id="tinymce6"  ng-model="email.rejectedMessage" placeholder="Enter Request Rejected Email Text" ></textarea>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->


                                    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-sm-12">-->
                                        <!--<div class="m-top20">-->
                                            <!--<div class="row">-->
                                                <!--<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">-->
                                                    <!--<label> <span class="color-red f-bold f-left">*</span>Admin Forgot Password</label>-->
                                                <!--</div>-->
                                                <!--<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">-->
                                                    <!--<div class="row">-->

                                                        <!--<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> Email Subject-->
                                                            <!--<textarea rows="2" ng-model="email.adminSubject" placeholder="Enter Admin Email Subject" ></textarea>-->
                                                        <!--</div>-->
                                                        <!--<div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12"> SMS Text-->
                                                            <!--<textarea rows="2" ng-model="email.adminSMS" placeholder="Enter Admin SMS Text" ></textarea>-->
                                                        <!--</div>-->
                                                        <!--<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12"> Email Text-->
                                                            <!--&lt;!&ndash;<textarea rows="4" ng-model="email.registerSMS" placeholder="Enter Registration SMS Text" ></textarea>&ndash;&gt;-->
                                                            <!--<textarea ui-tinymce id="tinymce7" ng-model="email.adminText" placeholder="Enter Admin Email Text" ></textarea>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                    <button type="submit" class="btn btn-success" lang="en">Update</button>
                                </div>
                                <!-- </div>-->
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="registerSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center color-green modalSuccess">
                <div class="sMessage">Successfully Updated EMAIL DETAILS.</div>
            </div>
        </div>

    </div>
</div>