<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Land And Asset</span></li>
                <li class="breadcrumb-item active"><span lang="en">MIS Reports</span></li>
                <li class="breadcrumb-item active"><span lang="en">All Asset Reports</span></li>
            </ol>
        </div>

    </div>
</div>

<div class="col-md-12 white-box margintop-5" ng-init="land='assetReport'"><loading></loading>
    <div class="panel">
        <div class="panel-heading head-bg mainHeading">
            <ul class="nav  nav-pills ">
                <li class="active"><a data-toggle="tab"  ng-click="ImmovableAssetReports()">Asset Reports</a></li>
                <li><a data-toggle="tab" ng-click="AssetByDepartment()">Report By Department</a></li>
                <li><a data-toggle="tab" ng-click="SupplierWiseAssets()">Supplier Wise Reports</a></li>
                <li ><a data-toggle="tab" ng-click="AssetDueForRenewal()">Asset Due For Renewal</a></li>
                <li><a data-toggle="tab" ng-click="AssetDueForDisposal()">Report Due For Disposal</a></li>
                <li><a data-toggle="tab" ng-click="DisplayAssetByStatusAndYear()">Report By Status And Year</a></li>
                <li><a data-toggle="tab" ng-click="ExpiryAssets()">Expiry Assets</a></li>
                <li><a data-toggle="tab" ng-click="citizenRequests()">Citizen Requests</a></li>
                <li><a data-toggle="tab" ng-click="citizenRequestsAging()">Citizen Requests Aging</a></li>
                <li><a data-toggle="tab" ng-click="purchaseAgendaRequests()">Purchase Agenda Requests</a></li>
                <li><a data-toggle="tab" ng-click="deptWiseDriverExpenses()">Department Wise Driver Expenses</a></li>
                <li><a data-toggle="tab" ng-click="vehicleExpenses()">Vehicle Expenses</a></li>
            </ul>
        </div>


        <!--Graph 01-->
        <div class="panel-body" ng-show="land=='assetReport'">
            <div class="tab-content" >
                <div>
                    Immovable: &nbsp;<input type="radio" checked="checked" name="a" ng-click="ImmovableAssetReports()">
                    Movable: &nbsp;<input type="radio" name="a" ng-click="MovableAssetReports()">
                </div>
                <div class="tab-pane fade in active ">
                    <div id="assetReport" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>
                </div>
            </div>
        </div>

        <!--Graph 02-->
        <div class="panel-body" ng-show="land=='deptWiseAssetReport'">

            <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

            <div class="tab-content">
                <div class="tab-content" >
                    <div class="tab-pane fade in active ">
                        <div id="AsyDepartmenetWise" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>

        </div>

        <!--Table To Display Supplier wise Asset Report-->
        <div class="panel-body" ng-show="land=='supppWiseAssetReport'">
            <div class="" ng-show="!loadingImage">
                <form ng-submit="departmentDetails()">
                    <div class="row schemForms">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Supplier Wise Assets</div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="addScheme pull-right" ng-show="showAction">
                                        <button class="btn btn-default m-right5" ng-click="exportToExcel('#schemeReportDetails')" lang="en" ng-disabled="isDisabled">
                                            <span class="glyphicon glyphicon-share"></span> Export to Excel
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix visible-block"></div>
                            <hr />
                        </div>

                        <div class="col-lg-6 col-md-6 col-md-6 col-sm-12 col-xs-12 form-group">

                            <h5 class="text-left" lang="en">Department Name {{selectDept}}</h5>
                            <select ng-change="selectDepartment(selectDept)" ng-model="selectDept" data-style="btn-primary" title="Select Department">
                                <option value="" disabled>---Select Department Name---</option>
                                <option ng-repeat="deptInfo in departmentList"
                                        value="{{deptInfo.name}}">
                                    {{deptInfo.name}}
                                </option>
                            </select>
                        </div>

                        <div class="col-lg-6 col-md-6 col-md-6 col-sm-12 col-xs-12 form-group" ng-if="showSupplier">
                            <h5 class="text-left" lang="en">Supplier Name</h5>
                            <select ng-change="selectSupplierName1(selectSupplier,selectDept)" ng-model="selectSupplier">{{assetInfo}}
                                <option value="">Select Supplier Name</option>
                                <option  ng-repeat="abc in assetInfo"
                                         value="{{abc.supplierName}}">
                                    {{abc.supplierName}}
                                </option>
                            </select>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="showDetails">

                        <table id="schemeReportDetails" ng-show="hideDetails" class="table table-bordered table-striped"></table>

                        <div class="projectMain m-top20 m-btm20 table-responsive">
                            <div class="projectTile" lang="en">Asset Details</div>
                            <!--<div class="projectName m-top20 m-btm20 text-center">Plan Details</div>-->
                            <table class="table table-bordered nopadding">
                                <tr>
                                    <td class="width160"><b lang="en">Asset Id</b></td>
                                    <td class="width20">:</td>
                                    <td>{{assetWithSupplier.assetNumber}}</td>
                                    <td><b lang="en">Asset Name</b></td>
                                    <td>:</td>
                                    <td class="text-capitalize">{{assetWithSupplier.assetName}}</td>
                                </tr>
                                <tr>
                                    <td><b lang="en">Locality</b></td>
                                    <td>:</td>
                                    <td class="text-capitalize">{{assetWithSupplier.locality}}</td>
                                    <td><b lang="en">Register Id</b></td>
                                    <td>:</td>
                                    <td class="text-capitalize">{{assetWithSupplier.regdNo}}</td>
                                </tr>
                                <tr>
                                    <td><b lang="en">Asset Status</b></td>
                                    <td class="width20">:</td>
                                    <td class="text-capitalize">{{assetWithSupplier.status}}</td>
                                    <td><b lang="en">Asset Installation Date</b></td>
                                    <td class="width20">:</td>
                                    <td class="text-capitalize" ng-if="assetWithSupplier.purchaseDate">{{assetWithSupplier.purchaseDate}}</td>
                                    <td class="text-capitalize" style="font-weight:bold" ng-if="!assetWithSupplier.purchaseDate">Not Applicable</td>
                                </tr>
                                <tr>
                                    <td><b lang="en">Asset Mode</b></td>
                                    <td>:</td>
                                    <td class="text-capitalize">{{assetWithSupplier.assetMode}}</td>
                                    <td><b lang="en">Asset Department</b></td>
                                    <td>:</td>
                                    <td class="text-capitalize">{{assetWithSupplier.departmentValue}}</td>
                                </tr>
                                <tr>
                                    <td><b lang="en">Manufacturer Name</b></td>
                                    <td>:</td>
                                    <td class="text-capitalize">{{assetWithSupplier.manufacturingName}}</td>
                                    <td><b lang="en">Asset Expiry Date</b></td>
                                    <td>:</td>
                                    <td class="text-capitalize">{{assetWithSupplier.expiryDate}}</td>
                                </tr>
                                <tr>
                                    <td><b lang="en">Asset Description</b></td>
                                    <td>:</td>
                                    <td colspan="4" class="text-capitalize">{{assetWithSupplier.assetDescription}}</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Table to Display Asset Due FOr Renewal-->
        <div class="panel-body" ng-show="land=='assetDueForRenewal'">
            <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
            <div class="" ng-show="!loadingImage">
                <form>
                    <div class="row schemForms">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span>Assets Due For Renewal</div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="addScheme pull-right">
                                        <button class="btn btn-default m-right5" ng-click="exportToExcel('#schemeReportDetails')" lang="en" ng-if="filterAsset.length>0" ng-disabled="isDisabled">
                                            <span class="glyphicon glyphicon-share"></span> Export to Excel
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix visible-block"></div>
                            <hr />
                        </div>


                        <div class="col-lg-3 col-md-3 col-md-6 col-sm-12 col-xs-12 form-group">
                            <h5 class="text-left" lang="en">Select Year</h5>
                            <select ng-change="selectFinYear(selectRenewalYear)" ng-model="selectRenewalYear">
                                <option value="" disabled>Select Financial Year</option>
                                <option value="2016">2016-2017</option>
                                <option value="2017">2017-2018</option>
                                <option value="2018">2018-2019</option>
                                <option value="2019">2019-2020</option>
                                <option value="2020">2020-2021</option>
                                <option value="2021">2021-2022</option>
                                <option value="2022">2022-2023</option>
                                <option value="2023">2023-2024</option>
                                <option value="2024">2024-2025</option>
                                <option value="2025">2025-2026</option>
                                <option value="2026">2026-2027</option>
                            </select>
                        </div>

                        <div class="col-lg-3 col-md-3 col-md-6 col-sm-12 col-xs-12 form-group" ng-show="showDetailss">
                            <h5 class="text-left" lang="en">Select Month</h5>
                            <select ng-change="selectFinMonth(selectRenewalYear,selectMonth)" ng-model="selectMonth">
                                <option value="" disabled>Select Month</option>
                                <option value="01">January</option>
                                <option value="02">February</option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">Augest</option>
                                <option value="09">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>

                        <div class="col-lg-3 col-md-3 col-md-6 col-sm-12 col-xs-12">
                            <br />
                            <br />
                            <div ng-show="errorMessage" class="color-red text-right">{{errorMessageData}}</div>
                            <!-- <button class="btn btn-success width200">Submit</button>-->
                        </div>
                    </div>
                </form>

                <div class="row">

                    <table id="schemeReportDetails" ng-show="hideDetails" class="table table-bordered table-striped"></table>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="showDetailsss">
                        <div>
                            <div class="table-responsive">
                                <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th lang="en">Asset Id</th>
                                        <th lang="en">Asset Description</th>
                                        <th lang="en">Asset Renewable Status </th>
                                        <th lang="en">Asset Upgrade Date</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="mdata in filterAsset">
                                        <td>{{mdata.assetNumber}}</td>
                                        <td>{{mdata.assetDescription}}</td>
                                        <td>{{mdata.assetRenewableAvailability}}</td>
                                        <td>{{mdata.assetUpgradeDate}}</td>
                                        <!--<td><a data-toggle="tooltip" title="View Bill Details" href="#/billMISView/{{mdata.planId}}/{{mdata.subtask}}">{{mdata.planId}}</a></td>-->
                                        <!--<td>{{mdata.planId}}</td>-->
                                        <!-- <td>{{mdata.subtask}}</td>-->
                                        <!--<td>{{mdata.contractorName}}</td>-->
                                        <!--<td>
                                            <button type="button" data-toggle="tooltip" title="View Payment Order Details" ng-click="measureMISModal(mdata)"class="btn btn-primary" >
                                                <span class="glyphicon glyphicon-th-large"></span>
                                            </button>
                                        </td>-->
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Table to Display Asset Due FOr Disposal-->
        <div class="panel-body" ng-show="land=='assetDueForDisposal'">
            <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
            <div class="" ng-show="!loadingImage">
                <form>
                    <div class="row schemForms">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span>Assets Due For Disposal</div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="addScheme pull-right">
                                        <button class="btn btn-default m-right5" ng-click="exportToExcel('#schemeReportDetails')" lang="en" ng-if="filterAsset.length>0" ng-disabled="isDisabled">
                                            <span class="glyphicon glyphicon-share"></span> Export to Excel
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix visible-block"></div>
                            <hr />
                        </div>

                        <div class="col-lg-3 col-md-3 col-md-6 col-sm-12 col-xs-12 form-group">
                            <h5 class="text-left" lang="en">Select Year</h5>
                            <select ng-change="selectFinYear(selectYear)" ng-model="selectYear">
                                <option value="" disabled>Select Financial Year</option>
                                <option value="2016">2016-2017</option>
                                <option value="2017">2017-2018</option>
                                <option value="2018">2018-2019</option>
                                <option value="2019">2019-2020</option>
                                <option value="2020">2020-2021</option>
                                <option value="2021">2021-2022</option>
                                <option value="2022">2022-2023</option>
                                <option value="2023">2023-2024</option>
                                <option value="2024">2024-2025</option>
                                <option value="2025">2025-2026</option>
                                <option value="2026">2026-2027</option>
                            </select>
                        </div>

                        <div class="col-lg-3 col-md-3 col-md-6 col-sm-12 col-xs-12 form-group" ng-show="showDetailss">
                            <h5 class="text-left" lang="en">Select Month</h5>
                            <select ng-change="selectFinMonth(selectYear,selectMonth)" ng-model="selectMonth">
                                <option value="" disabled>Select Month</option>
                                <option value="01">January</option>
                                <option value="02">February</option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">Augest</option>
                                <option value="09">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>

                        <div class="col-lg-3 col-md-3 col-md-6 col-sm-12 col-xs-12">
                            <br/>
                            <div ng-show="errorMessage" class="color-red text-right">{{errorMessageData}}</div>
                            <!-- <button class="btn btn-success width200">Submit</button>-->
                        </div>

                    </div>
                </form>

                <div class="row">
                    <table id="schemeReportDetails" ng-show="hideDetails" class="table table-bordered table-striped"></table>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="showDetailsss">
                        <div>
                            <div class="table-responsive">
                                <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th lang="en">Asset Id</th>
                                        <th lang="en">Asset Description</th>
                                        <th lang="en">Asset Status </th>
                                        <th lang="en">Asset Upgrade Date</th>
                                        <!--<th lang="en">Installation Date</th>-->
                                        <!--<th lang="en">Contractor Name</th>-->
                                        <!-- <th lang="en">Action</th>-->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="mdata in filterAsset">
                                        <td>{{mdata.assetNumber}}</td>
                                        <td>{{mdata.assetDescription}}</td>
                                        <td>{{mdata.status}}</td>
                                        <td>{{mdata.assetUpgradeDate}}</td>
                                        <!--<td><a data-toggle="tooltip" title="View Bill Details" href="#/billMISView/{{mdata.planId}}/{{mdata.subtask}}">{{mdata.planId}}</a></td>-->
                                        <!--<td>{{mdata.planId}}</td>-->
                                        <!-- <td>{{mdata.subtask}}</td>-->
                                        <!--<td>{{mdata.contractorName}}</td>-->
                                        <!--<td>
                                            <button type="button" data-toggle="tooltip" title="View Payment Order Details" ng-click="measureMISModal(mdata)"class="btn btn-primary" >
                                                <span class="glyphicon glyphicon-th-large"></span>
                                            </button>
                                        </td>-->
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Asset Report by Status And Year-->
        <div class="panel-body" ng-show="land=='statusAndYearWiseReport'">

            <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

            <div class="tab-content">
                <div class="tab-content" >
                    <div class="tab-pane fade in active ">
                        <div id="AssetByStatusAndYear" style="min-width: 310px; max-width: 600px; height: 400px; margin: 0 auto"></div>
                    </div>
                </div>
            </div>

        </div>

        <!--Expiry Assets..-->
        <div class="panel-body" ng-show="land=='expiryAssets'">
            <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
            <div class="schemeMain" ng-show="!loadingImage">

                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Expiry Assets</div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="addScheme pull-right" ng-show="showAction">
                                    <button class="btn btn-default m-right5" ng-click="exportToExcel('#schemeReportDetails')" lang="en" ng-if="schemeWiseRequest.length>0" ng-disabled="isDisabled">
                                        <span class="glyphicon glyphicon-share"></span> Export to Excel
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix visible-block"></div>
                        <hr />
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <table id="schemeReportDetails" ng-show="hideDetails" class="table table-bordered table-striped"></table>

                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <label lang="en">Filter Based Selection</label>:
                                <div>
                                    <label class="btn btn-primary m-btm20"><input type="radio" ng-model='results' ng-value='"3 Months"' ng-click="selectDur(1)" name="rdoResult">3 Months</label>

                                    <label class="btn btn-primary m-btm20"><input type="radio" ng-model='results' ng-value='"6 Months"' ng-click="selectDur(2)"  name="rdoResult">6 Months</label>
                                    <label class="btn btn-primary m-btm20"><input type="radio" ng-model='results' ng-value='"1 Year"' ng-click="selectDur(3)"  name="rdoResult">1 Year</label>
                                </div>
                            </div>

                        </div>
                        <div class="color-theme">{{results}}</div>
                    </div>


                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div ng-show="selectProjectDetails">
                            <div class="projectMain m-top20 m-btm20 table-responsive">
                                <div class="projectTile" lang="en">Filter Data</div>
                                <div class="table-responsive p-all">
                                    <table datatable="ng" class="table table-bordered nopadding">
                                        <thead>
                                        <tr>
                                            <th>Asset Name</th>
                                            <th>Supplier Name</th>
                                            <th>Manufacturer Name</th>
                                            <th>Warranty Period</th>
                                            <th>Expiry Date</th>
                                            <th>Maintenance Contact Person</th>
                                            <th>Maintenance Contact Department</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="schemeReport in schemeWiseRequest">
                                            <!--<td>{{schemeReport.schmeDetails.name}}</td>-->
                                            <td>{{schemeReport.assetName}}</a></td>
                                            <td>{{schemeReport.supplierName}}</a></td>
                                            <td>{{schemeReport.manufacturingName}}</a></td>
                                            <td>{{schemeReport.warrentyPeriod}}</a></td>
                                            <td>{{schemeReport.expiryDate}}</a></td>
                                            <td>{{schemeReport.maintenanceContactName}}</a></td>
                                            <td class="text-capitalize">{{schemeReport.contactDeptValue}}</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--table to display citizen requests-->
        <div class="panel-body" ng-show="land=='citizenRequests'">
            <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>


            <div class="schemeMain" ng-show="!loadingImage">

                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Department Wise Citizen Requests</div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="addScheme pull-right" ng-show="showAction">
                                    <button class="btn btn-default m-right5" ng-click="exportToExcel('#listOfSchemeDetails')" lang="en" ng-if="deptWiseViewData.length>0" ng-disabled="isDisabled">
                                        <span class="glyphicon glyphicon-share"></span> Export to Excel
                                    </button>
                                </div>
                            </div>

                        </div>
                        <div class="clearfix visible-block"></div>
                        <hr />
                    </div>
                    <!--<table id="schemesExcel" ng-show="hideDetails" class="table table-bordered table-striped"></table>-->

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="row schemForms ">
                            <form ng-submit="searchData()">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red text-center" ng-show="editDoubleClick">
                                    {{errorUpdateMessage}}
                                    <hr class="m-tb10" />
                                </div>
                                <!--<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <h5 class="text-left" lang="en">Select OR Search  Purchase Agenda Number</h5>
                                    <ui-select ng-change="purchaseAgendaNumber($select.selected.purchaseAgendaNumber)" reset-search-input="true" ng-model="projectId" theme="selectize">
                                        <ui-select-match placeholder="Select or Search Purchase Agenda Number">{{$select.selected.purchaseAgendaNumber}}</ui-select-match>
                                        <ui-select-choices repeat="agenda in agendaDetails | filter: $select.search">
                                            &lt;!&ndash;<span ng-bind-html="proId.projectId | highlight: $select.search"></span>&ndash;&gt;
                                            <small ng-bind-html="agenda.purchaseAgendaNumber | highlight: $select.search"></small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>-->
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                    <h5 class="text-left" lang="en">Select OR Search Department Name</h5>
                                    <ui-select ng-change="departmentName($select.selected.id)" reset-search-input="true" ng-model="projectId" theme="selectize">
                                        <ui-select-match placeholder="Select or Search Department Name">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="agenda in departmentList | filter: $select.search">
                                            <!--<span ng-bind-html="proId.projectId | highlight: $select.search"></span>-->
                                            <small ng-bind-html="agenda.name | highlight: $select.search"></small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <br />
                                    <button type="submit" class="btn btn-success m-top20" >Submit</button>
                                </div>
                            </form>
                        </div>

                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <table id="listOfSchemeDetails" ng-show="hideDetails" class="table table-bordered table-striped"></table>

                        <div ng-show="selectProjectDetails">
                            <div class="projectMain m-top20 m-btm20 table-responsive">
                                <div class="projectTile" lang="en">Filter Data</div>
                                <div class="p-all table-responsive">
                                    <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped ">
                                        <thead>
                                        <tr>
                                            <th>Purchase Agenda Number</th>
                                            <th>Request Id</th>
                                            <th>Invoice Value</th>
                                            <th>Invoice Date</th>
                                            <th>Cover Note</th>
                                            <th>Request Status</th>
                                            <th>Accept Status</th>
                                            <th>Files</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="filter in deptWiseViewData">
                                            <td class="text-capitalize">{{filter.purchaseAgendaNumber}}</td>
                                            <td class="text-capitalize">{{filter.requestId}}</td>
                                            <td class="text-capitalize">{{filter.invoiceValue}}</td>
                                            <td class="text-capitalize">{{filter.invoiceDate}}</td>
                                            <td>{{filter.coverNote}}</td>
                                            <td>{{filter.requestStatus}}</td>
                                            <td class="text-capitalize">{{filter.acceptStatus}}</td>
                                            <td class="text-capitalize">
                                                <table class="table table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th>Thumbnail</th>
                                                        <th>Name</th>
                                                        <th>Size</th>
                                                        <th>Comment</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr data-ng-repeat="file in filter.files">

                                                        <td>
                                                            <img src="{{uploadFile}}{{file.id}}" style="width: 30px; height: 30px;" />
                                                        </td>
                                                        <td>
                                                            <a target="_blank" href="{{uploadFile}}{{file.id}}" class="color-text1"><h5>{{file.name}}</h5></a>
                                                        </td>
                                                        <td>{{file.size}}</td>
                                                        <td>{{file.comment}}</td>


                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>

        <!--table to display citizen requests aging-->
        <div class="panel-body" ng-show="land=='citizenRequestsAging'">
            <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>


            <div class="schemeMain" ng-show="!loadingImage">

                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Request Aging</div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="addScheme pull-right" ng-show="showAction">
                                    <button class="btn btn-default m-right5" ng-click="exportToExcel('#listOfSchemeDetails')" lang="en">
                                        <span class="glyphicon glyphicon-share"></span> Export to Excel
                                    </button>
                                </div>
                            </div>

                        </div>
                        <div class="clearfix visible-block"></div>
                        <hr />
                    </div>
                    <!--<table id="schemesExcel" ng-show="hideDetails" class="table table-bordered table-striped"></table>-->

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <table id="listOfSchemeDetails" ng-show="hideDetails" class="table table-bordered table-striped"></table>

                        <div ng-show="selectProjectDetails">
                            <div class="projectMain m-top20 m-btm20 table-responsive">
                                <div class="projectTile" lang="en">Filter Data</div>
                                <div class="table-responsive p-all">
                                    <table datatable="ng" class="table table-bordered table-stripped">
                                        <thead>
                                        <tr>
                                            <th>Purchase Agenda Number</th>
                                            <th> < 10Days </th>
                                            <th> > 10Days < 30Days</th>
                                            <th> > 1Months < 3Months</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="schemeRang in schemeRanging">
                                            <td>{{schemeRang.vehicleRequestDetails.purchaseAgendaNumber}}</td>
                                            <td><a href="#/openRequestLists/{{schemeRang.schmeDetails.schemeUniqueId}}/Approved/">{{schemeRang.tenDaysCount}}</a></td>
                                            <td><a href="#/openRequestLists/{{schemeRang.schmeDetails.schemeUniqueId}}/Approved/">{{schemeRang.oneMonthCount}}</a></td>
                                            <td><a href="#/openRequestLists/{{schemeRang.schmeDetails.schemeUniqueId}}/Approved/">{{schemeRang.threeMonthCount}}</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>

        <!--table to display purchase agenda requests -->
        <div class="panel-body" ng-show="land=='purchaseAgendaRequests'">
            <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

            <div class="schemeMain" ng-show="!loadingImage">
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Purchase Agenda Wise Reports</div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="addScheme pull-right" ng-show="showAction">
                                    <button class="btn btn-default m-right5" ng-click="exportToExcel('#schemeReportDetails')" lang="en" ng-if="schemeWiseRequest.length>0" ng-disabled="isDisabled">
                                        <span class="glyphicon glyphicon-share"></span> Export to Excel
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix visible-block"></div>
                        <hr />
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <table id="schemeReportDetails" ng-show="hideDetails" class="table table-bordered table-striped"></table>

                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <label lang="en">Filter Based Previous Selection</label>:
                                <div>
                                    <label class="btn btn-primary m-btm20"><input type="radio" ng-model='r' ng-value='"1 Week"' ng-click="selectDur(1)" name="rdoResult">1 Week</label>

                                    <label class="btn btn-primary m-btm20"><input type="radio" ng-model='r' ng-value='"1 Month"' ng-click="selectDur(2)"  name="rdoResult">1 Month</label>
                                    <label class="btn btn-primary m-btm20"><input type="radio" ng-model='r' ng-value='"2 Months"' ng-click="selectDur(3)"  name="rdoResult">2 Months</label>
                                </div>
                            </div>
                        </div>
                        <div class="color-theme">{{r}}</div>
                    </div>


                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div ng-show="selectProjectDetails">
                            <div class="projectMain m-top20 m-btm20 table-responsive">
                                <div class="projectTile" lang="en">Filter Data</div>
                                <div class="table-responsive p-all">
                                    <table datatable="ng" class="table table-bordered nopadding">
                                        <thead>
                                        <tr>
                                            <th>Purchase Agenda Number</th>
                                            <th>Total Count</th>
                                            <th>Approved Count</th>
                                            <th>Reject Count</th>
                                            <th>New Count</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="schemeReport in schemeWiseRequest">
                                            <td>{{schemeReport.purchaseAgendaDetails.purchaseAgendaNumber}}</td>
                                            <td><a href="#/openSchemes/{{schemeReport.schmeDetails.schemeUniqueId}}/all/">{{schemeReport.totalCount}}</a></td>
                                            <!--<td><a ng-click="openschemes(schemeReport.schmeDetails.schemeUniqueId, schemeReport.schmeDetails.status)">{{schemeReport.totalCount}}</a></td>-->
                                            <td><a href="#/openSchemes/{{schemeReport.schmeDetails.schemeUniqueId}}/Approved/">{{schemeReport.approvedCount}}</a></td>
                                            <td><a href="#/openSchemes/{{schemeReport.schmeDetails.schemeUniqueId}}/Rejected/">{{schemeReport.rejectCount}}</a></td>
                                            <td><a href="#/openSchemes/{{schemeReport.schmeDetails.schemeUniqueId}}/false/">{{schemeReport.falseCount}}</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>


        </div>

        <!--Table to Display Department Wise Driver Expenses-->
        <div class="panel-body" ng-show="land=='deptWiseDriverDetails'">
            <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
            <div class="" ng-show="!loadingImage">
                <form>
                    <div class="row schemForms">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span>Department wise Driver Expenses</div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="addScheme pull-right">
                                        <button class="btn btn-default m-right5" ng-click="exportToExcel('#schemeReportDetails')" lang="en" ng-if="filterAssets.length>0" ng-disabled="isDisabled">
                                            <span class="glyphicon glyphicon-share"></span> Export to Excel
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix visible-block"></div>
                            <hr />
                        </div>


                        <div class="col-lg-3 col-md-3 col-md-6 col-sm-12 col-xs-12 form-group">
                            <h5 class="text-left" lang="en">Select Year</h5>
                            <select ng-change="selectFinYear(selectRenewalYear)" ng-model="selectRenewalYear">
                                <option value="" disabled>Select Financial Year</option>
                                <option value="2016">2016-2017</option>
                                <option value="2017">2017-2018</option>
                                <option value="2018">2018-2019</option>
                                <option value="2019">2019-2020</option>
                                <option value="2020">2020-2021</option>
                                <option value="2021">2021-2022</option>
                                <option value="2022">2022-2023</option>
                                <option value="2023">2023-2024</option>
                                <option value="2024">2024-2025</option>
                                <option value="2025">2025-2026</option>
                                <option value="2026">2026-2027</option>
                            </select>
                        </div>

                        <div class="col-lg-3 col-md-3 col-md-6 col-sm-12 col-xs-12 form-group" ng-show="showDetailss">
                            <h5 class="text-left" lang="en">Select Month</h5>
                            <select ng-change="selectFinMonth(selectRenewalYear,selectMonth)" ng-model="selectMonth">
                                <option value="" disabled>Select Month</option>
                                <option value="01">January</option>
                                <option value="02">February</option>
                                <option value="03">March</option>
                                <option value="04">April</option>
                                <option value="05">May</option>
                                <option value="06">June</option>
                                <option value="07">July</option>
                                <option value="08">Augest</option>
                                <option value="09">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>

                        <div class="col-lg-3 col-md-3 col-md-6 col-sm-12 col-xs-12 form-group" ng-show="showDetailsss">
                            <h5 class="text-left" lang="en">Select Department</h5>
                            <select ng-change="selectDepts(selectRenewalYear,selectMonth,selectDepartment)" ng-model="selectDepartment">
                                <option value="">Select Department Name</option>
                                <option ng-repeat="employee in departmentList" value="{{employee.name}}">{{employee.name}}</option>
                            </select>
                        </div>


                        <div class="col-lg-3 col-md-3 col-md-6 col-sm-12 col-xs-12">
                            <br />
                            <br />
                            <div ng-show="errorMessage" class="color-red text-right">{{errorMessageData}}</div>
                            <!-- <button class="btn btn-success width200">Submit</button>-->
                        </div>
                    </div>
                </form>

                <div class="row">

                    <table id="schemeReportDetails" ng-show="hideDetails" class="table table-bordered table-striped"></table>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="showDetailssss">
                        <div>
                            <div class="table-responsive">
                                <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th lang="en">Asset Id</th>
                                        <th lang="en">Assign Driver Name</th>
                                        <th lang="en">Bill Number</th>
                                        <th lang="en">Bill Amount</th>
                                        <th lang="en">Bill Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="mdata in filterAssets">
                                        <td>{{mdata.selectAsset}}</td>
                                        <td>{{mdata.employeeName}}</td>
                                        <td>{{mdata.billNumber}}</td>
                                        <td>{{mdata.amount}}</td>
                                        <td>{{mdata.billDate}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Asset Report by Vehicle Expenses-->
        <div class="panel-body" ng-show="land=='vehicleReport'">

            <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

            <div class="tab-content">
                <div class="tab-content" >
                    <div class="tab-pane fade in active ">
                        <div id="vehicleId" style=" width : 100%;height	: 500px; font-size : 11px;"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

</div>
