<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" ><a href="#/home" lang="en">Home</a></li>
                <li class="breadcrumb-item active" lang="en">No Access Page</li>
            </ol>
        </div>
    </div>
</div>
<div class="">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">
            <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                <h1 class="text-center color-theme1 adminHome"  lang="en">
                    <br /><br /><i class="fa fa-user-times fa-2x"></i>

                    <br /><br /><div class="" lang="en">You Don't have Access <br /> <br />to Open this page</div>
                </h1>
            </div>
        </div>
    </div>
</div>

