<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item"><span lang="en">Legal Management</span></li>
                <li class="breadcrumb-item"><span lang="en">Case Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Notice Comments</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="adminContent" id="addDesignation">

    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>

    <div class="schemeMain" ng-show="!loadingImage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="legalManagement">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Notice Comments</div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme">
                            <a href="#/createNotice" class="btn btn-success pull-right " ng-if="roleLogin.noticeCommentsedit"><span lang="en">Create Notice</span></a>

                            <a href="#/noticeDetails" class="btn btn-success pull-right m-right5" ng-if="roleLogin.noticeCommentsview"><span lang="en">Notice Details</span></a>
                            <button class="btn btn-default pull-right m-right5" ng-click="exportToExcel('#noticeComments')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>

                        </div>
                    </div>
                    <div class="clearfix visible-block"></div>
                    <hr />
                </div>
            </div>
         </div>

        <table id="noticeComments" ng-show="hideDetails" class="table table-bordered table-striped"></table>
        <div class="">
            <div class="table-responsive">
                <table datatable="ng" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="caseNumber" custom-sort order="'caseNumber'" sort="sort" lang="en">Case Number&nbsp;</th>
                            <th class="name" custom-sort order="'name'" sort="sort" lang="en">Notice Number&nbsp;</th>
                            <!--<th class="comment" custom-sort order="'comment'" sort="sort">Comment&nbsp;</th>-->
                            <th class="actions" custom-sort order="'actions'" sort="sort" ng-if="roleLogin.noticeCommentsedit" lang="en">Action&nbsp;</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="noticeInfo in noticeData track by $index">
                            <td>{{noticeInfo.caseNumber}}</td>
                            <td>{{noticeInfo.noticeNumber}}</td>
                            <td ng-if="roleLogin.noticeCommentsedit">
                                <button class="btn btn-primary"
                                        data-backdrop="static" data-keyboard="false" data-toggle="modal"
                                        data-target="#noticeEdit" ng-click="editNoticePopup(noticeInfo)"> <span class="glyphicon glyphicon-pencil"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="noticeEdit" noice="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" align="center">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" ng-click="cancelEdit()">&times;</button>
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <h4 class="modal-title text-left" lang="en">Edit Notice</h4>
            </div>
            <div class="modal-body">
                <div class="schemForms">
                    <div class=" text-center color-red f-bold"></div>
                    <form class="row simple-form" ng-submit="editNotice()">

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" align="left">
                            <label lang="en"><span class="color-red f-bold f-left">*</span><span lang="en">Case Number</span>:</label><br>
                            <select class="" ng-model="updateNotice.caseNumber" disabled required>
                                <option value="">---select Case Number ---</option>
                                <option ng-repeat="x in caseNumber" value="{{x.caseNumber}}">{{x.caseNumber}}</option>
                            </select>
                        </div>

                        <!--<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" align="left">-->
                            <!--<label lang="en"><span class="color-red f-bold f-left">*</span><span lang="en">Case Number</span>:</label><br>-->
                            <!--<ui-select ng-model="updateNotice.caseId" theme="selectize">-->
                                <!--<ui-select-match placeholder="Select or Search Case Number">{{$select.selected.caseNumber}}</ui-select-match>-->
                                <!--<ui-select-choices repeat="x in caseNumber | filter: $select.search">-->
                                    <!--<span ng-bind-html="x.caseNumber | highlight: $select.search"></span>-->
                                <!--</ui-select-choices>-->
                            <!--</ui-select>-->
                        <!--</div>-->


                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12" align="left">
                            <label lang="en"><span
                                    class="color-red f-bold f-left">*</span><span lang="en">Notice Number</span>:</label>
                            <input type="text" class="form-control"
                                   id="name1"
                                   ng-model="updateNotice.noticeNumber"
                                   placeholder=" Enter Notice Number" required
                                   title="Enter Notice Number" data-toggle="tooltip"
                                   data-placement="top" autocomplete="off"/>
                        </div>
                        <!--<div class="form-group" align="left">-->
                        <!--<label><span class="color-red f-bold f-left">*</span>Notice Comment:</label>-->
                        <!--<textarea type="text" rows="5" class="form-control" ng-model="updateNotice.comment" required></textarea>-->
                        <!--</div>-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-success" value="Update" lang="en">Update</button>
                            <button type="button" class="btn btn-default" value="Cancel" ng-click="cancelEdit()" lang="en">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="addDepartmentSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" >
            <div ng-show="caseShow">
                <div class="modal-body textStyle1">
                <h4>Successfully  Notice Comments For Case Number : '<b> {{selectedCaseNumber}}</b> ' -is Created.</h4>
            </div>
                <div class="modal-footer text-center">
                    <button type="button" class=" btn btn-success text-center" data-dismiss="modal" lang="en">OK</button>
                </div>
            </div>
            <div ng-show="caseHide">
                <div class="modal-body textStyle1" >
                <h4>Successfully  Notice Comments For Case Number : '<b> {{selectCaseNumb}}</b> ' -is Updated.</h4>
            </div>
                <div class="modal-footer text-center">
                    <button type="button" class=" btn btn-success text-center" data-dismiss="modal" lang="en">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>

