<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home">Home</a></li>
                <li class="breadcrumb-item active">Legal Management</li>
                <li class="breadcrumb-item active">Master Data</li>
                <li class="breadcrumb-item active">Payment Mode</li>
            </ol>
        </div>
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <!--<div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> Legal Management</div>-->
        </div>
    </div>
    <div class="clearfix visible-block"></div>
    <hr />

    <div class="projectTile legalManagement">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Payment Mode</div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 addScheme" ng-if="roleLogin.paymentModesedit">
                <button id="createPayment" type="button" class="btn btn-success pull-right"
                        data-toggle="modal" data-target="#myModal">Create
                </button>
            </div>
        </div>
    </div>
</div>
<!--****Creation**-->
<!-- Modal -->
<div class="modal fade" id="myModal" status="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" align="center">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create Payment Mode</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class=" text-center color-red f-bold"></div>
                    <div class="text-center color-red f-bold" ng-show="paymentCreationError">{{createPaymentTypeError}}</div>
                    <form class="simple-form" ng-submit="createPayment(payment)">
                        <div class="form-group" align="left">
                            <label for="name"><span
                                    class="color-red f-bold f-left">*</span>Payment Mode:</label>
                            <input type="name" class="form-control"
                                   id="name" ng-model="payment.name"
                                   placeholder="Enter The Payment Mode as Cash/DD/Cheque"
                                   title="Enter Cash/DD/Cheque"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" required/>
                        </div>
                        <div class="form-group" align="left">
                            <label for="desc"><span
                                    class="color-red f-bold f-left"></span>Payment Mode Description:</label>
                            <input type="description" class="form-control"
                                   id="desc" ng-model="payment.description"
                                   placeholder="Enter The Payment Mode Description"
                                   title="Enter field2"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" />
                        </div>


                        <input id="savePayment" type="submit" value="Submit"/>
                        <button type="button" ng-click="reset()">Reset</button>
                        <button type="button" data-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Edit-->
<div class="modal fade" id="paymentEdit" status="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" align="center">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">&times;</button>
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <h4 class="modal-title">Edit Payment Mode</h4>
            </div>
            <div class="modal-body">

                <div>
                    <div class=" text-center color-red f-bold"></div>
                    <div class="text-center color-red f-bold" ng-show="paymentUpdationError">{{updatePaymentTypeError}}</div>
                    <form class="simple-form" ng-submit="editPayment()">
                        <div class="form-group" align="left">
                            <label for="name"><span
                                    class="color-red f-bold f-left">*</span>Payment Mode:</label>
                            <input type="name1" class="form-control"
                                   id="name1"
                                   ng-model="updatePayment.name"
                                   placeholder="Enter The Payment Mode as Cash/DD/Cheque"
                                   title="Enter Payment Mode Cash/DD/Cheque"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" required/>
                        </div>
                        <div class="form-group" align="left">
                            <label for="name"><span
                                    class="color-red f-bold f-left"></span>Payment Mode Description:</label>
                            <input type="desc2" class="form-control"
                                   id="desc2"
                                   ng-model="updatePayment.description"
                                   placeholder="Enter The Description"
                                   title="Update Description"
                                   data-toggle="tooltip" data-placement="top"
                                   autocomplete="off" />
                        </div>

                        <input type="submit" value="Update"/>
                        <input type="button" value="Cancel"
                               ng-click="cancelEdit()"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="projectInner table-responsive">
    <table datatable="ng" class="table table-bordered table-striped">

        <thead>
        <tr>
            <th class="name" custom-sort order="'name'" sort="sort">Payment Mode Name&nbsp;</th>
            <th class="description" custom-sort order="'description'" sort="sort">Payment Description&nbsp;</th>

            <th class="actions" custom-sort order="'actions'" sort="sort" ng-if="roleLogin.paymentModesedit">Actions&nbsp;</th>

        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="paymentInfo in paymentData">

            <td>{{paymentInfo.name}}</td>
            <td>{{paymentInfo.description}}</td>

            <td ng-if="roleLogin.paymentModesedit">
                <button class="btn btn-primary"
                        data-backdrop="static" data-keyboard="false" data-toggle="modal"
                        data-target="#paymentEdit" ng-click="editPaymentPopup(paymentInfo)"><span class="glyphicon glyphicon-pencil"></span></button>

            </td>


        </tr>
        </tbody>
    </table>
</div>