<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Land And Asset</span></li>
                <li class="breadcrumb-item active"><span lang="en">MIS Reports</span></li>
                <li class="breadcrumb-item active"><span lang="en">Request Wise Reports</span></li>
            </ol>
        </div>
    </div>
</div>
<!--<div class="pull-right">
    <a href=""><span class="glyphicon glyphicon-chevron-left"> </span> Go Back</a>
</div>-->
<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Request Wise Reports</div>
                    </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="addScheme pull-right" ng-show="showAction">
                        <button class="btn btn-default m-right5" ng-click="exportToExcel('#schemeReportDetails')" lang="en">
                            <span class="glyphicon glyphicon-share"></span> Export to Excel
                        </button>
                    </div>
                </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table id="schemeReportDetails" ng-show="hideDetails" class="table table-bordered table-striped"></table>

                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <label lang="en">Filter Based Previous Selection</label>:
                        <div>
                        <label class="btn btn-primary m-btm20"><input type="radio" ng-model='result' ng-value='"1 Week"' ng-click="selectDur(1)" name="rdoResult">1 Week</label>

                        <label class="btn btn-primary m-btm20"><input type="radio" ng-model='result' ng-value='"1 Month"' ng-click="selectDur(2)"  name="rdoResult">1 Month</label>
                        <label class="btn btn-primary m-btm20"><input type="radio" ng-model='result' ng-value='"2 Months"' ng-click="selectDur(3)"  name="rdoResult">2 Months</label>
                            </div>
                    </div>
                    <div class="col-lg-1 col-md-12 col-sm-12 col-xs-12 m-tb10">
                        OR
                        </div>
                    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                        <form ng-submit="getReportsCount()">
                        <div>
                            <div class="schemForms">
                                <div class="row">

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 color-red test-center" ng-show="editDoubleClick">
                                        {{errorUpdateMessage}}
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <label lang="en">From</label>:
                                        <input ng-model="startDate" placeholder="Start Date"  type="text"   ng-calendar format="%m-%d-%Y" required readonly>
                                    </div>
                                    <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <label lang="en">To</label>:
                                        <input ng-model="endDate" placeholder="End Date"  type="text"   ng-calendar format="%m-%d-%Y" required readonly>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"><br />
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </div>

                                </div>
                            </div>

                        </div>
                        </form>
                    </div>


                </div>
                <div class="color-theme">{{result}}</div>
                </div>


        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div ng-show="selectProjectDetails">
                <div class="projectMain m-top20 m-btm20 table-responsive">
                    <div class="projectTile" lang="en">Filter Data</div>
                    <div class="table-responsive p-all">
                            <table datatable="ng" class="table table-bordered nopadding">
                                <thead>
                                    <tr>
                                        <th>Request Id</th>
                                        <th>Total Count</th>
                                        <th>Approved Count</th>
                                        <th>Reject Count</th>
                                        <th>New Count</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="schemeReport in schemeWiseRequest">
                                        <td>{{schemeReport.schmeDetails.name}}</td>
                                        <td><a href="#/openSchemes/{{schemeReport.schmeDetails.schemeUniqueId}}/all/">{{schemeReport.totalCount}}</a></td>
                                        <!--<td><a ng-click="openschemes(schemeReport.schmeDetails.schemeUniqueId, schemeReport.schmeDetails.status)">{{schemeReport.totalCount}}</a></td>-->
                                        <td><a href="#/openSchemes/{{schemeReport.schmeDetails.schemeUniqueId}}/Approved/">{{schemeReport.approvedCount}}</a></td>
                                        <td><a href="#/openSchemes/{{schemeReport.schmeDetails.schemeUniqueId}}/Rejected/">{{schemeReport.rejectCount}}</a></td>
                                        <td><a href="#/openSchemes/{{schemeReport.schmeDetails.schemeUniqueId}}/false/">{{schemeReport.falseCount}}</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>

        </div>
    </div>
</div>