<div class="adminContent">
    <div class="">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName"><span class="glyphicon glyphicon-hand-right"> </span> Create Scheme Forms</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <a href="#/createSchemeForms" class="btn btn-success pull-right ">Create Scheme Forms</a>



                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive">
                    <table datatable="ng" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Scheme Name</th>
                            <th>Form Name </th>
                            <th>Forms Used For</th>
                            <th>Uploaded Date</th>
                            <th>View Details</th>
                            <!--<th>Act Number</th>-->
                            <!--<th>Stake Holders</th>-->
                            <th>Action</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="schemeInfo in SchemeData">
                            <td>{{schemeInfo.module}}</td>
                            <td>{{schemeInfo.name}}</td>
                            <td>{{schemeInfo.purpose}}</td>
                            <td>{{schemeInfo.date}}</td>
                            <td class="width150"><a class="btn btn-primary" href="#/viewSchemeForms/{{schemeInfo.id}}">
                                <span class="glyphicon glyphicon-th-large"></span></a></td>

                            <td>
                                <a class="btn btn-primary" href="#/editScheme/{{scheme.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
                                <!--<button class="btn btn-danger" ng-click="deleteCharter()"><span class="glyphicon glyphicon-trash"></span></button>-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>


