<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">Project Management</span></li>
                <li class="breadcrumb-item active"><span lang="en">Transfer Funds</span></li>
            </ol>
        </div>
        <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
            <a href="#/projectPlan" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn">Go Back</span>
                    </div>
                </div>
            </a>
        </div>-->
    </div>
</div>

<div class="adminContent">
    <div class="">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Transfer Funds</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                            <button class="btn btn-default m-right5" lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#projectRisks')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                            <button class="btn btn-success" data-toggle="modal" data-target="#createTransferFund" lang="en">Transfer Funds</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>

            <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-md-12 col-sm-12 col-xs-12">
                <!--<div class="schemForms text-center">
                    <select ng-change="selectareas(projectId)" ng-model="projectId">
                        <option value="">-&#45;&#45;Please select-&#45;&#45;</option>
                        <option ng-repeat="proId in charterList" value="{{proId.projectId}}">{{proId.projectId}} - <b class="pull-right">{{proId.name}}</b></option>
                    </select>
                </div>-->
                <div>
                    <h5 class="text-center" lang="en">Select OR Search Projects Details</h5>
                    <ui-select ng-change="selectareas($select.selected.planId)" ng-model="projectId" theme="selectize">
                        <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.planId}}</ui-select-match>
                        <ui-select-choices repeat="proId in charterList | filter: $select.search">
                            <span ng-bind-html="proId.projectId | highlight: $select.search"></span>
                            <small ng-bind-html="proId.name | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div ng-show="selectProjectDetails">


                    <div class="projectMain m-top20 m-btm20 table-responsive">
                        <div class="projectTile" lang="en">Plan Details</div>
                        <!--<div class="projectName m-top20 m-btm20 text-center">Plan Details</div>-->
                        <table class="table table-bordered nopadding">
                            <tr>
                                <td class="width160"><b lang="en">Plan ID</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.planId}}</td>
                                <td><b lang="en">Plan Name</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.name}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Financial Year</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.financialYear}}</td>
                                <td><b lang="en"> Applicant ID</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.applicantId}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Start Date</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.startDate}}</td>
                                <td><b lang="en">End Date</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.endDate}}</td>
                            </tr>
                            <!--   {applicantId":"1ddsfsdf","startDate":"24-08-2016","endDate":"10-09-2016","estimationCost":"123213","utilizedCost":"123","status":"new","completePercentage":"0","createdPerson":"admin"}
                            -->   <tr>
                            <td><b lang="en">Estimation Cost</b></td>
                            <td>:</td>
                            <td>{{selectProjectDetails.estimationCost}}</td>
                            <td><b lang="en">Utilized Cost</b></td>
                            <td>:</td>
                            <td>{{selectProjectDetails.utilizedCost}}</td>
                        </tr>
                            <tr>
                                <td><b lang="en">Task Status</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.taskStatus}}</td>
                                <td><b lang="en">Plan Status</b></td>
                                <td class="width20">:</td>
                                <td>{{selectProjectDetails.palnStatus}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en"><span>% </span> Complete</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.completePercentage}}</td>
                                <td><b lang="en" >Department</b></td>
                                <td>:</td>
                                <td>{{selectProjectDetails.department}}</td>
                            </tr>
                            <tr>
                                <td><b lang="en">Plan Description</b></td>
                                <td>:</td>
                                <td colspan="4">{{selectProjectDetails.description}}</td>
                            </tr>

                        </table>
                    </div>
                    <div class="projectMain m-top20 m-btm20 ">
                        <div class="projectTile" lang="en">Project Header Schemes Details</div>
                        <div class="table-responsive adminContent">
                            <table datatable="ng" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th class="width160" lang="en">Header Name</th>
                                    <th class="text-center" lang="en">Scheme Details</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="task in selectProjectTaskDetails">
                                    <td>{{task.name}}</td>
                                    <td>
                                        <table datatable="" class="table table-bordered table-striped" dt-options="dtOptions">
                                            <thead>
                                            <tr>
                                                <th lang="en">Sub Task Name</th>
                                                <th lang="en">Financial Year</th>
                                                <th lang="en">Estimation Cost</th>
                                                <th lang="en">Utilized Cost</th>
                                                <th lang="en">Status</th>
                                                <th lang="en"><span>% </span>Complete</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr  ng-repeat="subTask in task.taskList">
                                                <td>{{subTask.subTaskName}}</td>
                                                <td>{{subTask.financialYear}}</td>
                                                <td>{{subTask.estimatedCost}}</td>
                                                <td>{{subTask.utilizedCost}}</td>
                                                <td>{{subTask.status}}</td>
                                                <td>{{subTask.completePercenatge}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="projectMain m-top20 m-btm20 ">
                        <div class="projectTile" lang="en">Transfer Funds Details</div>
                        <div class="table-responsive projectInner">
                            <table class="table table-bordered table-striped" >


                                <tbody>
                                <!--     {{filedVisitList}}-->

                                <tr ng-repeat="fundDetails in fundDetailsList" class="tableRepeatText" >
                                    <td class="nopadding">
                                        <table class="table nopadding table-bordered table-striped" >
                                            <thead>
                                            <th lang="en">Name</th>
                                            <th lang="en">From Header</th>
                                            <th lang="en">From Sub Task</th>
                                            <th lang="en">To Header</th>
                                            <th lang="en">To Sub Task</th>
                                            <th lang="en">Transfer Funds</th>
                                            <th lang="en">Edit</th>
                                            <th lang="en">View</th>
                                            <th ng-if="fundDetails.approveFiledVisit"></th>
                                            <th ng-if="fundDetails.approveFiledVisit"></th>

                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>{{fundDetails.createdPerson}}</td>
                                                <td>{{fundDetails.fromHeader}}</td>
                                                <td>{{fundDetails.fromSubTask}}</td>
                                                <td>{{fundDetails.toHeader}}</td>
                                                <td>{{fundDetails.toSubTask}}</td>
                                                <td>{{fundDetails.transferAmount}}</td>

                                                <!--   <td>
                                                       <button class="btn btn-primary" ng-click="editProjectUploads(document)"><span class="glyphicon glyphicon-pencil"></span></button>
                                                   </td>-->
                                                <td class="width120">
                                                    <button class="btn btn-primary" ng-if="fundDetails.editDetails" ng-click="editProjectUploads(document)"><span class="glyphicon glyphicon-pencil"></span></button>
                                                </td>

                                                <td class="width30" >
                                                    <button class="btn btn-default btn-xs center-block" data-toggle="collapse" data-target="#demo-{{$index}}" class="accordion-toggle">
                                                        <span class="glyphicon glyphicon-eye-open" data-toggle="tooltip" title="View Project Details"></span></button>
                                                </td>
                                                <td class="width30" ng-if="fundDetails.approveFiledVisit">
                                                    <!--data-toggle="modal" data-target="#approavlReport"-->
                                                    <!--data-toggle="modal" data-target="#rejectReport"-->
                                                    <button type="button" ng-if="fundDetails.approveFiledVisit" ng-click="approvalModal(fundDetails)" class="btn btn-success" ><span data-toggle="tooltip" title="Plan Layout Approval" class="glyphicon glyphicon-ok"></span></button>
                                                </td>
                                                <td class="width30" ng-if="fundDetails.approveFiledVisit">
                                                    <button type="button" ng-if="fundDetails.approveFiledVisit"  ng-click="rejectModal(fundDetails)"class="btn btn-danger" ><span data-toggle="tooltip" title="Plan Layout Reject" class="glyphicon glyphicon-remove"></span></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="12" class="hiddenRow">
                                                    <div class="accordian-body collapse" id="demo-{{$index}}">
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th lang="en">Workflow Id</th>
                                                                <th lang="en">Workflow Level</th>
                                                                <th lang="en">Level No</th>
                                                                <th lang="en">Status</th>
                                                                <th lang="en">Approval Person</th>
                                                                <th lang="en">Date</th>
                                                                <th lang="en">Comment</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="workflow in fundDetails.workflow">
                                                                <td>{{workflow.workflowId}} </td>
                                                                <td>{{workflow.levelId}}  </td>
                                                                <td>{{workflow.levelNo}}  </td>
                                                                <td>{{workflow.approvalStatus}}  </td>
                                                                <td>{{workflow.employeeName}}  </td>
                                                                <td>{{workflow.date| date: "yyyy-MM-dd hh:mm:ss a"}}  </td>
                                                                <!-- <td>
                                                                     &lt;!&ndash;  <button>Approval</button>
                                                                   <button>Reject</button>&ndash;&gt;
                                                                     <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#approavlReport">Approval</button>
                                                                     <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#rejectReport">Reject</button>
                                                                 </td>-->
                                                                <td>{{workflow.comment}}</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>

                            </table>

                        </div>

                        <!---- sub task doc upload -->
                        <!-- <div class="projectMain m-top20 m-btm20 table-responsive"  style="display: none;">
                             <div class="projectTile">Header with Sub Task List</div>
                             <div class="table-responsive projectInner">
                                 <table datatable="" class="table table-bordered table-striped" id="table2">
                                     <thead>
                                     <tr>
                                         <th style="width: 25%;">Header Name</th>
                                         <th>Sub Task Details</th>
                                     </tr>
                                     </thead>
                                     <tbody>
                                     <tr>
                                         <td>Header Name</td>
                                         <td>
                                             <table datatable="" class="table table-bordered table-striped" dt-options="dtOptions">
                                                 <thead>
                                                 <tr>
                                                     <th>Person Name</th>
                                                     <th>Doc Files</th>
                                                     <th>Action</th>
                                                 </tr>
                                                 </thead>
                                                 <tbody>
                                                 <tr>
                                                     <td>Name1</td>
                                                     <td>Doc Files</td>
                                                     <td>
                                                         <button class="btn btn-primary" data-toggle="modal" data-target="#UploadFile">Upload Files</button>
                                                     </td>
                                                 </tr>
                                                 </tbody>
                                             </table>
                                         </td>
                                         &lt;!&ndash;&ndash;&gt;
                                     </tr>
                                     <tr>
                                         <td>Header Name</td>
                                         <td>
                                             <table datatable="" class="table table-bordered table-striped" dt-options="dtOptions">
                                                 <thead>
                                                 <tr>
                                                     <th>Sub Task Name</th>
                                                     <th>Doc Files</th>
                                                     <th>Action</th>
                                                 </tr>
                                                 </thead>
                                                 <tbody>
                                                 <tr>
                                                     <td>Name</td>
                                                     <td>Doc Files</td>
                                                     <td>
                                                         <button class="btn btn-primary" data-toggle="modal" data-target="#UploadFile">Upload Files</button>
                                                     </td>
                                                 </tr>
                                                 </tbody>
                                             </table>
                                         </td>
                                         &lt;!&ndash;&ndash;&gt;
                                     </tr>
                                     </tbody>
                                 </table>
                             </div>
                         </div>-->
                        <!---- sub task doc upload --->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="approavlReport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Transfer Funds Approval</h4>
            </div>

            <form role="form" class="" name="myform" class="adminContent" ng-submit="approvalData()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Comment</label>
                            <textarea rows="5" ng-model="comments.comment" placeholder="Enter Approval Comment" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Approve</button>
                    <button  type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="rejectReport" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">Transfer Funds Reject</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="rejectData()">
                <div class="modal-body">
                    <div class="row schemForms">

                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Reject Comment</label>
                            <textarea rows="5" ng-model="comments.comment" placeholder="Enter Reject Description" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" lang="en">Reject</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" lang="en">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>



<div id="createTransferFund" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" lang="en">New Transfer Details</h4>
            </div>
            <form role="form" class="" name="myform" class="adminContent" ng-submit="addFundTransfer()">
                <div class="modal-body">
                    <div class="row schemForms">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <label style="color: brown;"><b>--- From ---</b></label>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <label lang="en"><span class="color-red f-bold f-left">*</span>Header Name</label>:
                            <select ng-Change="getSubTaskList(found.selectedFirstHeader)" ng-model="found.selectedFirstHeader" required>
                                <option value="">Select Header</option>
                                <option ng-repeat="header in selectProjectTaskDetails" value="{{header}}">{{header.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">

                            <!--<label>Header Name:</label>-->
                            <!--<select ng-Change="getAvailableAmount(found.subFirstTaskDetails)"  ng-model="found.subFirstTaskDetails">-->
                           <label lang="en">Sub Task Name</label>:
                            <select ng-Change="getAvailableAmount(found.subFirstTaskDetails)"  ng-model="found.subFirstTaskDetails" required>
                                <option value="">Select Subtask</option>
                                <option ng-repeat="subTask in subTaskData" value="{{subTask}}">{{subTask.subTaskName}}</option>
                            </select>
                        </div>
                        <div class="form-group  col-lg-4   col-md-4 col-sm-12 col-xs-12">

                           <label lang="en"><span class="color-red f-bold f-left">*</span>Available Amount</label>:
                            <label><span class="color-red f-bold f-left">*</span>{{availableAmount}}</label>

                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <label style="color: brown;"><b>--- To ---</b></label>
                        </div>
                        <div class="form-group  col-lg-4   col-md-4 col-sm-12 col-xs-12">
                           <label lang="en"><span class="color-red f-bold f-left">*</span>Header Name</label>:
                            <select ng-Change="getSecondSubTaskList(found.selectedSecondHeader)" ng-model="found.selectedSecondHeader" required>
                                <option value="">Select Header</option>
                                <option ng-repeat="header in selectProjectTaskDetails" value="{{header}}">{{header.name}}</option>
                            </select>
                        </div>
                        <div class="form-group  col-lg-4   col-md-4 col-sm-12 col-xs-12">

                            <!--<label><span class="color-red f-bold f-left">*</span>Header Name:</label>-->
                            <!--<select   ng-model="found.secondSubTaskDetails">-->
                           <label lang="en"><span class="color-red f-bold f-left">*</span>Sub Task Name</label>:
                            <select  ng-model="found.secondSubTaskDetails" required>
                                <option value="">Select Subtask</option>
                                <option ng-repeat="subTask in secondSubTaskData" value="{{subTask}}">{{subTask.subTaskName}}</option>
                            </select>
                        </div>
                        <div class="form-group  col-lg-4   col-md-4 col-sm-12 col-xs-12">
                           <label lang="en"><span class="color-red f-bold f-left">*</span>Transfer Amount</label>:
                            <input type="text" ng-model="found.transferAmount" required />
                        </div>
                    </div>
                </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" lang="en">Submit</button>
                <button type="button" ng-click="reset()" class="btn btn-info" lang="en">Reset</button>
                <button id="cancel" type="button" class="btn btn-default"  data-dismiss="modal" lang="en">Cancel</button>
            </div>
            </form>
        </div>

    </div>
</div>
<div id="errorMessageDisplay" class="modal fade" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body color-green text-center modalSuccess">
                <div class="sMessage">Successfully Plan Transfer funds is Updated.</div>
            </div>
        </div>
    </div>
</div>