<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">Schemes Management</span></li>
                <li class="breadcrumb-item"><a href="#/schemes"><span lang="en">Scheme</span></a></li>
                <li class="breadcrumb-item active"><span lang="en">View Scheme Details</span></li>
            </ol>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
            <!--<a  ng-click="clickToBack()"> <span class="glyphicon glyphicon-hand-left"></span> Back</a>-->
            <a ng-click="clickToBack()" class="backbtnArea pull-right">
                <div class="" id="content">
                    <div class="aside arrow">
                        <span class="glyphicon glyphicon-chevron-left"> </span>
                        <span class="backbtn" lang="en">Go Back</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="schemeMain" ng-show="!loadingImage">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> View Scheme</div>
                <hr />
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="projectMain m-btm20 table-responsive ">
                    <div class="projectTile" lang="en">Scheme Details</div>
                    <table class="table table-bordered nopadding">
                        <tr>
                            <td class="width160"><b><span lang="en">Scheme Name</span></b></td>
                            <td class="width20">:</td>
                            <td>{{scheme.name}}</td>
                            <td class="width160"><b><span lang="en">Category</span></b></td>
                            <td class="width20">:</td>
                            <td>{{scheme.category}}</td>
                        </tr>

                        <tr>
                            <td class="width160"><b><span lang="en">Department</span></b></td>
                            <td class="width20">:</td>
                            <td>{{scheme.departmentName}}</td>
                            <td class="width160"><b><span lang="en">Ministry</span></b></td>
                            <td class="width20">:</td>
                            <td>{{scheme.ministryName}}</td>
                        </tr>
                        <!--  <tr>
                              <td class="width160"><b>Start Date</b></td>
                              <td class="width20">:</td>
                              <td>{{scheme.startDate}}</td>
                              <td class="width160"><b>End Date</b></td>
                              <td class="width20">:</td>
                              <td>{{scheme.endDate}}</td>
                          </tr>-->
                        <tr>
                            <td class="width160"><b><span lang="en">Scheme Budget</span></b></td>
                            <td class="width20">:</td>
                            <td class="width20">{{scheme.budget}}</td>
                            <td class="width160"><b><span lang="en">Date of commencement</span></b></td>
                            <td class="width20">:</td>
                            <td>{{scheme.commincement}}</td>
                        </tr>
                        <tr>
                            <td><b><span lang="en">Status</span></b></td>
                            <td class="width20">:</td>
                            <td>{{scheme.status}}</td>
                            <td><b><span lang="en">Beneficiaries</span></b></td>
                            <td class="width20">:</td>
                            <td><span ng-repeat="ben in scheme.bineficiaries">{{ben.label}}</span></td>
                        </tr>
                        <tr>
                            <td class="width160"><b><span lang="en">Upload Notification</span></b></td>
                            <td class="width20">:</td>
                            <td><span ng-repeat="ben in scheme.file">
                              <a target="_blank" href="{{uploadURL}}{{ben.id}}">{{ben.name}}</a></span></td>
                            <td class="width160"><b><span lang="en">Upload Form Files</span></b></td>
                            <td class="width20">:</td>
                            <td><span ng-repeat="ben in scheme.forms">
                              <a target="_blank" href="{{uploadURL}}{{ben.id}}">{{ben.name}}</a></span></td>
                        </tr>
                        <tr>
                            <td class="width160"><b><span lang="en">Scheme Description</span></b></td>
                            <td class="width20">:</td>
                            <td colspan="4">{{scheme.description}}</td>
                        </tr>

                    </table>
                </div>
                <div class="projectMain m-btm20 table-responsive ">
                    <div class="projectTile" lang="en">Contact Details</div>
                    <table class="table table-bordered nopadding">
                        <tr>
                            <th lang="en">Name</th>
                            <th lang="en">Designation</th>
                            <th lang="en">Email Id</th>
                            <th lang="en">Work Number</th>
                            <th lang="en">Mobile Number</th>
                            <th lang="en">Address</th>
                        </tr>
                        <tr  ng-if="scheme.contactOne">
                            <td>{{scheme.contactOne.name}}</td>
                            <td>{{scheme.contactOne.designation}}</td>
                            <td>{{scheme.contactOne.email}}</td>
                            <td>{{scheme.contactOne.phoneOne}}</td>
                            <td>{{scheme.contactOne.phoneTwo}}</td>
                            <td>{{scheme.contactOne.address}}</td>
                        </tr>
                        <tr  ng-if="scheme.contactTwo">
                            <td>{{scheme.contactTwo.name}}</td>
                            <td>{{scheme.contactTwo.designation}}</td>
                            <td>{{scheme.contactTwo.email}}</td>
                            <td>{{scheme.contactTwo.phoneOne}}</td>
                            <td>{{scheme.contactTwo.phoneTwo}}</td>
                            <td>{{scheme.contactTwo.address}}</td>
                        </tr>
                        <tr  ng-if="scheme.contactThree">
                            <td>{{scheme.contactThree.name}}</td>
                            <td>{{scheme.contactThree.designation}}</td>
                            <td>{{scheme.contactThree.email}}</td>
                            <td>{{scheme.contactThree.phoneOne}}</td>
                            <td>{{scheme.contactThree.phoneTwo}}</td>
                            <td>{{scheme.contactThree.address}}</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>