<div class="breadcrumbArea">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 pull-left">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/home"><span lang="en">Home</span> </a></li>
                <li class="breadcrumb-item active"><span lang="en">Project/Ward Works</span></li>
                <li class="breadcrumb-item active"><span lang="en">MIS Report</span></li>
                <li class="breadcrumb-item active"><span lang="en">Weekly Project Performance Report Details </span></li>
            </ol>
        </div>

    </div>
</div>

<div class="adminContent">
    <div id="lodingImage" ng-show="loadingImage"> <img src="images/gears.gif"></div>
    <div class="" ng-show="!loadingImage">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="projectName" lang="en"><span class="glyphicon glyphicon-hand-right"> </span> Weekly Project Performance Report Details </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="addScheme pull-right" ng-show="showAction">
                            <button class="btn btn-default m-right5" lang="en">
                                <span class="glyphicon glyphicon-print"></span> Print
                            </button>
                            <button class="btn btn-default m-right5" ng-click="exportToExcel('#projectRisks')" lang="en">
                                <span class="glyphicon glyphicon-share"></span> Export to Excel
                            </button>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-block"></div>
                <hr />
            </div>


            <div class=" col-lg-4  col-md-4 col-md-4 col-sm-12 col-xs-12">

                <div>

                    <h5 class="text-left" lang="en">Select Department</h5>
                    <ui-select ng-change="selectDepartment($select.selected.id)" ng-model="projectId" theme="selectize">
                        <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="department in departmentList | filter: $select.search">
                            <span ng-bind-html="department.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class=" col-lg-4  col-md-4 col-md-4 col-sm-12 col-xs-12">
                <div>
                    <h5 class="text-center" lang="en">Select OR Search Projects Details</h5>
                    <ui-select ng-change="selectPlanId($select.selected.planId)" ng-model="projectId" theme="selectize">
                        <ui-select-match placeholder="Select or Search projects Details">{{$select.selected.planId}}</ui-select-match>
                        <ui-select-choices repeat="proId in charterList | filter: $select.search">
                            <span ng-bind-html="proId.projectId | highlight: $select.search"></span>
                            <small ng-bind-html="proId.name | highlight: $select.search"></small>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

            <div class="col-lg-3  col-md-3 col-md-3 col-sm-12 col-xs-12">
                <button class="btn btn-primary m-top20" ng-click="selectPlanId(department.financialYear)" lang="en">Search</button>
            </div>
            <br />
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="table-responsive">
                    <table datatable="ng" dt-options="dtOptions" dt-columns="dtColumns" class="hover table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th lang="en">Department Name</th>
                            <th lang="en">Task Name</th>
                            <th lang="en">Start Date</th>
                            <th lang="en">End Date</th>
                            <th lang="en">% Completed</th>
                            <th lang="en">Slippage Days</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="task in taskDetails">
                            <td >{{task.headName}}</td>
                            <td >{{task.subTaskName}}</td>
                            <td >{{task.startDate}}</td>
                            <td >{{task.endDate}}</td>
                            <td >{{task.completePercenatge}}</td>
                            <td >{{task.slipDates}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
</div>
</div>

    </div>